<div style="
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: #AF0404;
    padding: 1%;
    border-radius: 10px;
    font-size: 2em;
    text-align: center;
">
POSTGRE SQL CHEAT SHEET
</div>


<div style="
    color: black;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 1%;
    font-size: 1em;
    border: 1px solid #3f37c9;
">
    üìç <b>NOTE</b>: This notebook is intended to:
    <ul>
        <li>Provide exhaustive and comprehensive guide of the Postgresql.</li>
        <li>Discuss the syntax and code of the most used functions in Postgresql.</li>
    </ul>
</div>

## 1. INSTALLATION


<div style="
    color: black;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 1%;
    font-size: 1em;
    border: 1px solid #3f37c9;
">
    
<div >  <p> <strong>PostgreSQL</strong> is a free, powerful, and open-source relational database management system (RDBMS). It‚Äôs widely used in <em>Data Science</em>, <em>Web Development</em>, and <em>large-scale applications</em> due to its performance, reliability, and features like <strong>full ACID compliance</strong> and support for <strong>complex queries</strong>. </p> <p> <strong>pgAdmin</strong> is a graphical user interface (GUI) tool that makes it easier to interact with PostgreSQL databases. Instead of typing commands in the terminal, you can create, manage, and query databases <strong>visually</strong>. </p> <p> When you're getting started, installing PostgreSQL automatically installs pgAdmin <span style="color: #888;">(unless you choose not to)</span>. These tools work together: </p> <ul style="margin-left: 1.5em;"> <li><strong>PostgreSQL</strong> handles the <em>backend database system</em>.</li> <li><strong>pgAdmin</strong> helps you <em>view, manage, and edit</em> your databases with <strong>clicks instead of code</strong>.</li> </ul> </div>

</div>

###
<div style="
    color: black;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 1%;
    font-size: 1em;
    border: 1px solid #3f37c9;
">
    
<div> <h2>Steps to Install PostgreSQL & pgAdmin</h2> <h3>Step 1: Download Installer</h3> <ul> <li>Go to the official site: <a href="https://www.postgresql.org/download/" target="_blank">https://www.postgresql.org/download/</a></li> <li>Select your operating system (Windows, macOS, Linux)</li> <li>Choose the ‚ÄúGraphical Installer‚Äù by EDB (EnterpriseDB)</li> </ul> <h3>Step 2: Run the Installer</h3> <ul> <li>Open the downloaded <code>.exe</code> or <code>.dmg</code> file</li> <li>The setup wizard will launch</li> </ul> <h3>Step 3: Installation Options</h3> <ul> <li><strong>Make sure the following are selected:</strong></li> <ul> <li>PostgreSQL Server</li> <li>pgAdmin 4</li> <li>Stack Builder (optional)</li> </ul> <li>Click ‚ÄúNext‚Äù to proceed</li> </ul> <h3>Step 4: Set Superuser Password</h3> <ul> <li>Set a strong password for the default PostgreSQL superuser account (usually <code>postgres</code>)</li> <li>You will need this password to log in later</li> </ul> <h3>Step 5: Choose Port</h3> <ul> <li>Leave the default port as <strong>5432</strong></li> <li>Click ‚ÄúNext‚Äù</li> </ul> <h3>Step 6: Finish Installation</h3> <ul> <li>Click ‚ÄúFinish‚Äù to complete the installation</li> </ul> </div>

</div>

## 2. CREATING A DATABASE


<div style="
    color: black;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 1%;
    font-size: 1em;
    border: 1px solid #3f37c9;
">
    
<div> <p> A <strong>database</strong> in PostgreSQL is like a container or folder where all your data is stored. You can create <em>multiple databases</em> on the same PostgreSQL server ‚Äî each database can hold its own tables, schemas, functions, and data. </p> <p><strong>For example:</strong></p> <ul> <li>You might have a <code>sales_data</code> database for business analytics.</li> <li>A <code>machine_learning</code> database for storing datasets and model outputs.</li> </ul> <p><strong>Each database is isolated, which means:</strong></p> <ul> <li>Data in one database can't directly interact with data in another.</li> <li>You must connect to a specific database before running SQL queries.</li> </ul> </div>

</div>

In [ ]:
-- SQL Syntax to Create a Database
CREATE DATABASE database_name;
-- Example:
CREATE DATABASE sales_data;


-- Optional Parameters: You can specify additional options like encoding, owner, and template
CREATE DATABASE database_name
    WITH 
    OWNER = username
    ENCODING = 'UTF8'
    CONNECTION LIMIT = 20;

-- OWNER ‚Äì Who owns the DB (default is current user)
-- ENCODING ‚Äì Character set (UTF8 is standard)
-- CONNECTION LIMIT ‚Äì Max number of active connection


<div style="
    color: black;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 1%;
    font-size: 1em;
    border: 1px solid #3f37c9;
">
    
<h3>How to Create a Database in pgAdmin GUI (Windows App)</h3> <h4>Step-by-Step Instructions</h4> <ol> <li><strong>Open pgAdmin</strong><br> Launch from Start Menu ‚Üí pgAdmin 4 </li> <li><strong>Connect to Server</strong><br> Enter your master password </li> <li><strong>Navigate to the Database Section</strong><br> Expand: Servers &gt; PostgreSQL </li> <li><strong>Right-click on "Databases"</strong><br> Click <em>Create</em> ‚Üí <em>Database...</em> </li> <li><strong>Fill in the Form:</strong> <ul> <li><strong>Database name:</strong> e.g., <em>sales_data</em></li> <li><strong>Owner:</strong> Leave as <em>postgres</em> or choose another user</li> <li>Leave other settings default unless you need advanced configuration</li> </ul> </li> <li><strong>Click Save</strong></li> </ol> <p>Your new database will now appear in the left panel under <strong>Databases</strong>.</p>

</div>

## 3. CREATING A TABLE


<div style="
    color: black;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 1%;
    font-size: 1em;
    border: 1px solid #3f37c9;
">
    
<title>What is a Table in PostgreSQL</title> </head> <body> <h3>What is a Table in PostgreSQL?</h3> <p>A table in PostgreSQL is like a spreadsheet inside your database.<br> It stores your data in rows (records) and columns (fields).</p> <ul> <li>Each column has a name and a data type (like text, number, date, etc.).</li> <li>Each row is a single entry ‚Äî like one person, product, or transaction.</li> </ul>

</div>

In [ ]:
-- SQL Syntax to Create a Table

CREATE TABLE table_name (
    column1 datatype constraints,
    column2 datatype constraints,
    ...
);

-- Example:

CREATE TABLE employees (
    employee_id SERIAL PRIMARY KEY,
    name VARCHAR(100) NOT NULL,
    age INTEGER,
    email VARCHAR(100) UNIQUE,
    hire_date DATE DEFAULT CURRENT_DATE
);


-- Use IF NOT EXISTS to avoid errors if table already exists:


CREATE TABLE IF NOT EXISTS employees (
    employee_id SERIAL PRIMARY KEY,
    name VARCHAR(100) NOT NULL,
    age INTEGER,
    email VARCHAR(100) UNIQUE,
    hire_date DATE DEFAULT CURRENT_DATE
);


<div style="
    color: black;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 1%;
    font-size: 1em;
    border: 1px solid #3f37c9;
">
    
<title>How to Create a Table in pgAdmin (GUI)</title> </head> <body> <h3>How to Create a Table in pgAdmin (GUI Method)</h3> <h4>Step-by-Step:</h4> <ol> <li>Open pgAdmin and connect to your server.</li> <li>Navigate to:<br> <strong>Servers &gt; PostgreSQL &gt; Databases &gt; [Your Database] &gt; Schemas &gt; public &gt; Tables</strong> </li> <li>Right-click on <strong>Tables</strong> ‚Üí Click <strong>Create</strong> &gt; <strong>Table...</strong></li> <li>In the Dialog Box:</li> <ul> <li><strong>General Tab</strong><br> Name: employees (or your desired table name)<br> Owner: Leave as postgres (default) </li> <li><strong>Columns Tab</strong><br> Click + Add for each column<br> Name: e.g. employee_id<br> Datatype: Choose from dropdown (e.g. serial, varchar, integer, date)<br> Set constraints like Primary Key, Not Null, Default </li> <li><strong>Constraints Tab (Optional)</strong><br> Set Primary Key or Foreign Key if needed (can also be done in the Columns tab) </li> </ul> <li>Click <strong>Save</strong></li> <li>Your table now appears in the left panel.</li> </ol>

</div>


<div style="
    color: black;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 1%;
    font-size: 1em;
    border: 1px solid #3f37c9;
">
<h1>PostgreSQL data types:</h3>
<table border="1" cellspacing="0" cellpadding="6"> <thead> <tr> <th>Category</th> <th>Data Type</th> <th>Description</th> <th>When to Use</th> </tr> </thead> <tbody> <tr> <td rowspan="8">Numeric</td> <td>INTEGER (INT)</td> <td>Whole numbers (-2,147,483,648 to 2,147,483,647)</td> <td>General-purpose whole numbers</td> </tr> <tr> <td>SMALLINT</td> <td>Smaller integers (-32,768 to 32,767)</td> <td>Memory-efficient integers</td> </tr> <tr> <td>BIGINT</td> <td>Large integers (-9 quintillion to +9 quintillion)</td> <td>Very large whole numbers (e.g., population count)</td> </tr> <tr> <td>DECIMAL(p,s) / NUMERIC(p,s)</td> <td>Exact fixed-point numbers (e.g., 12.34)</td> <td>Financial data, currency, precise calculations</td> </tr> <tr> <td>REAL</td> <td>Approximate floating-point (single precision)</td> <td>Scientific data (lower precision)</td> </tr> <tr> <td>DOUBLE PRECISION</td> <td>Approximate floating-point (double precision)</td> <td>Scientific or engineering use cases requiring high precision</td> </tr> <tr> <td>SERIAL</td> <td>Auto-incrementing 4-byte integer</td> <td>Primary keys, unique IDs</td> </tr> <tr> <td>BIGSERIAL</td> <td>Auto-incrementing 8-byte integer</td> <td>Large auto-generated keys</td> </tr> <tr> <td>Monetary</td> <td>MONEY</td> <td>Currency representation</td> <td>Basic financial amounts with formatting</td> </tr> <tr> <td rowspan="3">Character</td> <td>CHAR(n)</td> <td>Fixed-length string</td> <td>Use when all values are same length (e.g., country code)</td> </tr> <tr> <td>VARCHAR(n)</td> <td>Variable-length string with limit</td> <td>Short text with length restriction (e.g., names, emails)</td> </tr> <tr> <td>TEXT</td> <td>Variable-length string without limit</td> <td>Large or unrestricted text (e.g., comments, descriptions)</td> </tr> <tr> <td rowspan="4">Date & Time</td> <td>DATE</td> <td>Calendar date (YYYY-MM-DD)</td> <td>For date fields (e.g., DOB, created_at)</td> </tr> <tr> <td>TIME</td> <td>Time without time zone</td> <td>For storing time alone (e.g., office hours)</td> </tr> <tr> <td>TIMESTAMP</td> <td>Date and time without time zone</td> <td>When date-time is important (e.g., order timestamps)</td> </tr> <tr> <td>TIMESTAMPTZ</td> <td>Date and time with time zone</td> <td>Global apps, consistent time tracking</td> </tr> <tr> <td>Boolean</td> <td>BOOLEAN</td> <td>True or False</td> <td>Status flags (e.g., is_active, verified)</td> </tr> <tr> <td>UUID</td> <td>UUID</td> <td>Universally Unique Identifier</td> <td>Unique user/session IDs, distributed systems</td> </tr> <tr> <td rowspan="2">Network Address</td> <td>INET</td> <td>IP address (IPv4 or IPv6)</td> <td>Storing IP addresses</td> </tr> <tr> <td>CIDR</td> <td>IP address with subnet</td> <td>Network configurations</td> </tr> <tr> <td rowspan="2">JSON</td> <td>JSON</td> <td>Textual JSON data</td> <td>Semi-structured data that needs structure validation</td> </tr> <tr> <td>JSONB</td> <td>Binary-optimized JSON</td> <td>Efficient queries and indexing on JSON</td> </tr> <tr> <td>Geometric</td> <td>POINT, LINE, CIRCLE</td> <td>Geometric shapes</td> <td>Mapping, GIS, coordinates</td> </tr> <tr> <td>Arrays</td> <td>any[] (e.g., INT[])</td> <td>Arrays of any data type</td> <td>Multiple values in one column (e.g., tags, scores)</td> </tr> <tr> <td>HStore</td> <td>HSTORE</td> <td>Key-value pairs</td> <td>Schema-less key-value data</td> </tr> <tr> <td>Binary</td> <td>BYTEA</td> <td>Binary data</td> <td>Files, images, encrypted content</td> </tr> <tr> <td>Enumerated</td> <td>ENUM</td> <td>Predefined set of values</td> <td>Gender, status, category fields</td> </tr> <tr> <td>Range Types</td> <td>INT4RANGE, TSRANGE</td> <td>Ranges of numbers or timestamps</td> <td>Date ranges, score bands</td> </tr> <tr> <td>Full Text Search</td> <td>TSVECTOR</td> <td>Optimized format for full-text search</td> <td>Searchable documents, blog content</td> </tr> </tbody> </table>

</div>


<div style="
    color: black;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 1%;
    font-size: 1em;
    border: 1px solid #3f37c9;
">
<h3>PostgreSQL Constraints:</h3>
<table style="border-collapse: collapse; width: 100%; border: 1px solid #000;"> <thead> <tr> <th style="border: 1px solid #000; padding: 8px;">Constraint Name</th> <th style="border: 1px solid #000; padding: 8px;">Description</th> <th style="border: 1px solid #000; padding: 8px;">When to Use</th> <th style="border: 1px solid #000; padding: 8px;">Applicable Data Types</th> </tr> </thead> <tbody> <tr> <td style="border: 1px solid #000; padding: 8px;">PRIMARY KEY</td> <td style="border: 1px solid #000; padding: 8px;">Uniquely identifies each row in a table. Implicitly adds NOT NULL &amp; UNIQUE</td> <td style="border: 1px solid #000; padding: 8px;">Use for unique row identifiers like id, user_id</td> <td style="border: 1px solid #000; padding: 8px;">INT, BIGINT, UUID, SERIAL, etc.</td> </tr> <tr> <td style="border: 1px solid #000; padding: 8px;">FOREIGN KEY</td> <td style="border: 1px solid #000; padding: 8px;">Ensures values match values in another table‚Äôs primary key</td> <td style="border: 1px solid #000; padding: 8px;">Use to create relationships between tables (e.g., orders.customer_id)</td> <td style="border: 1px solid #000; padding: 8px;">Same type as referenced primary key</td> </tr> <tr> <td style="border: 1px solid #000; padding: 8px;">UNIQUE</td> <td style="border: 1px solid #000; padding: 8px;">Ensures all values in a column (or combination) are different</td> <td style="border: 1px solid #000; padding: 8px;">Use when no duplicates are allowed (e.g., email, username)</td> <td style="border: 1px solid #000; padding: 8px;">TEXT, VARCHAR, INT, etc.</td> </tr> <tr> <td style="border: 1px solid #000; padding: 8px;">NOT NULL</td> <td style="border: 1px solid #000; padding: 8px;">Prevents null (missing) values</td> <td style="border: 1px solid #000; padding: 8px;">Use when every row must have a value (e.g., name, price, date_of_birth)</td> <td style="border: 1px solid #000; padding: 8px;">Any type</td> </tr> <tr> <td style="border: 1px solid #000; padding: 8px;">CHECK</td> <td style="border: 1px solid #000; padding: 8px;">Validates that a value meets a condition</td> <td style="border: 1px solid #000; padding: 8px;">Use for constraints like age &gt; 18, salary &gt; 0</td> <td style="border: 1px solid #000; padding: 8px;">Depends on condition (e.g., NUMERIC)</td> </tr> <tr> <td style="border: 1px solid #000; padding: 8px;">DEFAULT</td> <td style="border: 1px solid #000; padding: 8px;">Assigns a default value if none is given</td> <td style="border: 1px solid #000; padding: 8px;">Use to auto-fill common values (e.g., status = 'pending')</td> <td style="border: 1px solid #000; padding: 8px;">Any type</td> </tr> <tr> <td style="border: 1px solid #000; padding: 8px;">EXCLUDE</td> <td style="border: 1px solid #000; padding: 8px;">Prevents rows with overlapping values in specified columns using operators</td> <td style="border: 1px solid #000; padding: 8px;">Use for advanced rules (e.g., prevent event time overlaps in booking apps)</td> <td style="border: 1px solid #000; padding: 8px;">RANGE, GEOMETRY, TIMESTAMP</td> </tr> <tr> <td style="border: 1px solid #000; padding: 8px;">NULL</td> <td style="border: 1px solid #000; padding: 8px;">Allows NULL values (implicitly default if NOT NULL is not specified)</td> <td style="border: 1px solid #000; padding: 8px;">Use when some fields are optional (e.g., middle_name)</td> <td style="border: 1px solid #000; padding: 8px;">Any type</td> </tr> <tr> <td style="border: 1px solid #000; padding: 8px;">DEFERRABLE / INITIALLY DEFERRED</td> <td style="border: 1px solid #000; padding: 8px;">Controls when constraints are checked (at transaction end, not immediately)</td> <td style="border: 1px solid #000; padding: 8px;">Use in complex transactional logic (e.g., circular foreign keys)</td> <td style="border: 1px solid #000; padding: 8px;">Used with PRIMARY, FOREIGN, etc.</td> </tr> <tr> <td style="border: 1px solid #000; padding: 8px;">ON DELETE / ON UPDATE (CASCADE, SET NULL, etc.)</td> <td style="border: 1px solid #000; padding: 8px;">Action to take when referenced rows are deleted/updated</td> <td style="border: 1px solid #000; padding: 8px;">Use with FOREIGN KEYs for cascading behaviors</td> <td style="border: 1px solid #000; padding: 8px;">FOREIGN KEY referenced data types</td> </tr> </tbody> </table>

</div>

## 4. INSERTING VALUES INTO A TABLE


<div style="
    color: black;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 1%;
    font-size: 1em;
    border: 1px solid #3f37c9;
">
    
<p>Once you‚Äôve created a table in PostgreSQL, you need to add actual data into it ‚Äî this is called inserting rows.</p> <p>You can:</p> <ul> <li>Add one row at a time</li> <li>Add multiple rows in one query</li> <li>Insert values into specific columns</li> <li>Use default values if you don't want to provide all columns</li> </ul>
</div>

In [ ]:
--  1. Insert a Single Row

INSERT INTO table_name (column1, column2, ...)
VALUES (value1, value2, ...);

-- Example:
INSERT INTO employees (name, age, email, hire_date)
VALUES ('Ali Khan', 30, 'ali.khan@example.com', '2023-07-01');

In [ ]:
--  2. Insert Multiple Rows at Once

INSERT INTO table_name (column1, column2, ...)
VALUES 
    (value1a, value2a, ...),
    (value1b, value2b, ...),
    (value1c, value2c, ...);

-- Example:

INSERT INTO employees (name, age, email, hire_date)
VALUES 
    ('Sara Malik', 28, 'sara@example.com', '2023-08-01'),
    ('Zain Raza', 35, 'zain@example.com', '2023-08-10'),
    ('Ayesha Iqbal', 32, 'ayesha@example.com', '2023-08-15');

In [ ]:
-- 3. Insert Only Some Columns

INSERT INTO employees (name, age)
VALUES ('Hamza Noor', 29);
-- This will insert a new row with the specified name and age, while other columns will take their default values or NULL if no default is set.


<div style="
    color: black;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 1%;
    font-size: 1em;
    border: 1px solid #3f37c9;
">
    
<h3>How to Insert Data Using pgAdmin GUI</h3> <p><strong>Step-by-Step (Using Data View)</strong></p> <ol> <li>Open pgAdmin 4</li> <li>Go to:<br> <code>Servers &gt; Databases &gt; [Your DB] &gt; Schemas &gt; public &gt; Tables &gt; [Your Table]</code> </li> <li>Right-click your table ‚Üí Select <strong>View/Edit Data &gt; All Rows</strong></li> <li>A spreadsheet-style window will open</li> <li>In the blank row at the bottom: <ul> <li>Enter your data in each cell</li> <li>Hit Enter or click into the next row to save</li> </ul> </li> <li>pgAdmin will auto-run an <code>INSERT</code> query in the background</li> </ol> <p>You can also click the pencil icon on the top toolbar to edit existing rows.</p>
</div>

### IMPORTING DATA FROM EXTERNAL FILLES


<div style="
    color: black;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 1%;
    font-size: 1em;
    border: 1px solid #3f37c9;
">
    
<h3>Importing Data into PostgreSQL</h3>

<p>When working with PostgreSQL, you often have data stored in external files like:</p>

<ul>
  <li><code>.csv</code> (Comma-Separated Values)</li>
  <li><code>.txt</code> (Text files)</li>
  <li><code>.xlsx</code> (Excel files ‚Äî indirectly)</li>
</ul>

<p>To import this data into PostgreSQL, you usually:</p>

<ol>
  <li>Create a table that matches the file‚Äôs structure (same column names and data types)</li>
  <li>Use either SQL (<code>COPY</code> command) or pgAdmin‚Äôs GUI to load the file</li>
</ol>

<p>This is extremely useful for data scientists working with survey results, Kaggle datasets, or client data exports.</p>


</div>


<div style="
    color: black;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 1%;
    font-size: 1em;
    border: 1px solid #3f37c9;
">
    
<h3>If Table Doesn‚Äôt Exist</h3>

<ol>
  <li>Right-click <strong>Tables</strong> ‚Üí <strong>Create</strong> ‚Üí <strong>Table</strong></li>
  <li>Define columns and data types manually</li>
</ol>



</div>

In [ ]:
-- Import Using SQL 

COPY table_name (column1, column2, ...)
FROM 'absolute/path/to/file.csv'
DELIMITER ','
CSV HEADER;

-- Example:

COPY sales_data (order_id, customer_name, total_amount)
FROM 'C:/Users/JHON/Documents/sales.csv'
DELIMITER ','
CSV HEADER;

-- Make sure:
-- The file path is absolute
-- The file is accessible by the PostgreSQL server
-- If you're on Windows, use / or double \\ in the path

In [ ]:
--  Import Using \COPY (Client-Side Method)

\COPY sales_data (order_id, customer_name, total_amount)
FROM 'C:/Users/Harmain/Documents/sales.csv'
DELIMITER ','
CSV HEADER;


<div style="
    color: black;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 1%;
    font-size: 1em;
    border: 1px solid #3f37c9;
">
    
<h3>Import Using pgAdmin GUI </h3>

<h3>Step-by-Step (CSV File Import)</h3>

<p><strong>If table already exists:</strong></p>

<ol>
  <li>Open pgAdmin</li>
  <li>Expand:
    <br>Servers &gt; Databases &gt; [Your DB] &gt; Schemas &gt; public &gt; Tables
  </li>
  <li>Right-click the table you want to import into ‚Üí Select <em>Import/Export Data...</em></li>
</ol>

<p><strong>In the dialog:</strong></p>

<ul>
  <li><strong>Filename:</strong> Browse to your .csv file</li>
  <li><strong>Format:</strong> CSV</li>
  <li><strong>Header:</strong> Check this if your CSV has column names</li>
  <li><strong>Delimiter:</strong> Usually ,</li>
  <li><strong>Quote:</strong> Usually " (default)</li>
  <li><strong>Encoding:</strong> Keep as UTF8</li>
</ul>

<p>Click <strong>OK</strong> to import.</p>



</div>

## 5. DELETING A TABLE


<div style="
    color: black;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 1%;
    font-size: 1em;
    border: 1px solid #3f37c9;
">

<p>When you delete a table in PostgreSQL, you are permanently removing:</p>

<ul>
  <li>The table structure (its columns)</li>
  <li>All the data stored inside it</li>
</ul>

<p>This operation is done using the <code>DROP TABLE</code> command.</p>

<p><strong>Warning:</strong> It cannot be undone, so use it carefully ‚Äî especially in production or live environments.</p>

<p><strong>Deleting a table is useful when:</strong></p>

<ul>
  <li>You imported wrong data and want to start over</li>
  <li>You created a test table and no longer need it</li>
  <li>You want to clean up unused tables</li>
</ul>


</div>

In [ ]:
-- SQL Syntax to Delete a Table

DROP TABLE table_name;

-- Example:

DROP TABLE employees;
-- This will permanently remove the employees table from the database.

In [ ]:
-- Safe Deletion with IF EXISTS

DROP TABLE IF EXISTS employees;

In [ ]:
-- Delete Multiple Tables at Once

DROP TABLE IF EXISTS table1, table2, table3;


<div style="
    color: black;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 1%;
    font-size: 1em;
    border: 1px solid #3f37c9;
">
    
<h3>How to Delete a Table in pgAdmin (GUI Method)</h3>

<p><strong>Step-by-Step:</strong></p>

<ol>
  <li>Open pgAdmin</li>
  <li>Navigate to:<br>
    Servers &gt; Databases &gt; [Your DB] &gt; Schemas &gt; public &gt; Tables</li>
  <li>Right-click the table you want to delete (e.g., <code>employees</code>)</li>
  <li>Click <strong>Delete/Drop</strong></li>
  <li>Confirm when prompted</li>
</ol>

<p><strong>The table is now permanently removed.</strong></p>


</div>

## 6. MODIFYING A TABLE


<div style="
    color: black;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 1%;
    font-size: 1em;
    border: 1px solid #3f37c9;
">

<p>Modifying a table means changing its structure after it has been created. This is useful when:</p>

<ul>
  <li>You forgot a column</li>
  <li>Need to rename something</li>
  <li>Want to change data types</li>
  <li>Add or remove constraints</li>
  <li>Adjust default values, etc.</li>
</ul>


</div>

In [ ]:
-- The command used for most modifications is:

ALTER TABLE table_name ...;

#### 1. Add a Column

In [ ]:
-- SQL Syntax:
ALTER TABLE table_name ADD COLUMN column_name data_type;

-- Example:
ALTER TABLE employees ADD COLUMN age INT;

#####
<div style="
    color: black;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 1%;
    font-size: 1em;
    border: 1px solid #3f37c9;
">

<h3>Using pgAdmin GUI to Add a Column</h3>

<ol>
  <li>Go to: <strong>Tables &gt; [Your Table] &gt; Columns</strong></li>
  <li>Right-click ‚Üí <strong>Create &gt; Column</strong></li>
  <li>Set name, type, and click Save</li>
</ol>


</div>

#### 2. Rename a Column

In [ ]:
-- SQL Syntax:
ALTER TABLE table_name RENAME COLUMN old_name TO new_name;
-- Example:
ALTER TABLE employees RENAME COLUMN age TO employee_age;

#####
<div style="
    color: black;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 1%;
    font-size: 1em;
    border: 1px solid #3f37c9;
">

<h3>Rename a Column using pgAdmin GUI</h3>
<ol>
  <li>Right-click on the column</li>
  <li>Click <strong>Properties</strong></li>
  <li>Change the name ‚Üí Save</li>
</ol>



</div>

#### 3. Change Column Data Type

In [ ]:
-- SQL Syntax:
ALTER TABLE table_name ALTER COLUMN column_name TYPE new_data_type;

-- Example:
ALTER TABLE employees ALTER COLUMN age TYPE VARCHAR(3);

#####
<div style="
    color: black;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 1%;
    font-size: 1em;
    border: 1px solid #3f37c9;
">

<h3>Change Column Data Type using pgAdmin GUI</h3>

<ol>
  <li>Right-click on the column ‚Üí <strong>Properties</strong></li>
  <li>Change the data type</li>
  <li>Click <strong>Save</strong></li>
</ol>




</div>

####  4. Set or Change a Default Value

In [ ]:
-- SQL Syntax:
ALTER TABLE table_name ALTER COLUMN column_name SET DEFAULT default_value;

-- Example:
ALTER TABLE employees ALTER COLUMN age SET DEFAULT 25;

#####
<div style="
    color: black;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 1%;
    font-size: 1em;
    border: 1px solid #3f37c9;
">

<h3>Set Default Value using pgAdmin GUI</h3>

<ol>
  <li>Open the column ‚Üí <strong>Properties</strong></li>
  <li>Scroll to the <strong>Default</strong> field</li>
  <li>Set the desired value</li>
  <li>Click <strong>Save</strong></li>
</ol>
</div>

#### 5. Remove a Default Value

In [ ]:
-- SQL Syntax:
ALTER TABLE table_name ALTER COLUMN column_name DROP DEFAULT;

####  6. Delete a Column

In [ ]:
-- SQL Syntax:
ALTER TABLE table_name DROP COLUMN column_name;

-- Example:
ALTER TABLE employees DROP COLUMN age;

#####
<div style="
    color: black;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 1%;
    font-size: 1em;
    border: 1px solid #3f37c9;
">

<h3>Delete Column using pgAdmin GUI</h3>
<ol>
  <li>Right-click the column under <strong>Columns</strong></li>
  <li>Click <strong>Delete/Drop</strong></li>
</ol>


</div>

#### 7. Rename the Table

In [ ]:
-- SQL Syntax:
ALTER TABLE old_table_name RENAME TO new_table_name;

-- Example:
ALTER TABLE employees RENAME TO staff;

#####
<div style="
    color: black;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 1%;
    font-size: 1em;
    border: 1px solid #3f37c9;
">

<h3>Rename a Table using pgAdmin GUI</h3>
<ol>
  <li>Right-click the table</li>
  <li>Select <strong>Rename</strong></li>
  <li>Enter the new name</li>
</ol>


</div>

#### 8. Add a Constraint

In [ ]:
-- You can add constraints like NOT NULL, UNIQUE, CHECK, FOREIGN KEY, PRIMARY KEY.

-- Add NOT NULL:
ALTER TABLE employees ALTER COLUMN name SET NOT NULL;

-- Add UNIQUE:
ALTER TABLE employees ADD CONSTRAINT unique_email UNIQUE(email);

-- Add CHECK:
ALTER TABLE employees ADD CONSTRAINT age_check CHECK (age > 18);

#####
<div style="
    color: black;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 1%;
    font-size: 1em;
    border: 1px solid #3f37c9;
">

<h3>Add a Constraint using pgAdmin GUI</h3>
<ol>
  <li>Go to: <strong>Constraints &gt; [Type]</strong></li>
  <li>Right-click ‚Üí <strong>Create</strong></li>
  <li>Set values and condition ‚Üí <strong>Save</strong></li>
</ol>


</div>

#### 9. Drop a Constraint

In [ ]:
-- SQL Syntax:
ALTER TABLE table_name DROP CONSTRAINT constraint_name;

-- Example:
ALTER TABLE employees DROP CONSTRAINT age_check;

#### 10. Truncate Table (Delete All Rows but Keep Structure)

In [ ]:
-- SQL Syntax:
TRUNCATE TABLE table_name;

-- This deletes all records instantly ‚Äî much faster than DELETE.


<div style="
    color: black;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 1%;
    font-size: 1em;
    border: 1px solid #3f37c9;
">
<table border="1" cellspacing="0" cellpadding="6">
  <thead>
    <tr>
      <th>Task</th>
      <th>SQL Command</th>
      <th>pgAdmin Path</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Add Column</td>
      <td><code>ADD COLUMN</code></td>
      <td>Columns ‚Üí Create</td>
    </tr>
    <tr>
      <td>Drop Column</td>
      <td><code>DROP COLUMN</code></td>
      <td>Right-click column ‚Üí Delete</td>
    </tr>
    <tr>
      <td>Rename Column</td>
      <td><code>RENAME COLUMN</code></td>
      <td>Column ‚Üí Properties</td>
    </tr>
    <tr>
      <td>Change Data Type</td>
      <td><code>ALTER COLUMN ... TYPE</code></td>
      <td>Column ‚Üí Properties</td>
    </tr>
    <tr>
      <td>Add Constraint</td>
      <td><code>ADD CONSTRAINT</code></td>
      <td>Constraints ‚Üí Create</td>
    </tr>
    <tr>
      <td>Drop Constraint</td>
      <td><code>DROP CONSTRAINT</code></td>
      <td>Constraints ‚Üí Delete</td>
    </tr>
    <tr>
      <td>Rename Table</td>
      <td><code>RENAME TO</code></td>
      <td>Table ‚Üí Rename</td>
    </tr>
    <tr>
      <td>Truncate</td>
      <td><code>TRUNCATE TABLE</code></td>
      <td>Right-click table ‚Üí Truncate/Empty</td>
    </tr>
  </tbody>
</table>


</div>

## 7. SELECT ... FROM COMMAND


<div style="
    color: black;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 1%;
    font-size: 1em;
    border: 1px solid #3f37c9;
">
<p><strong>SELECT ... FROM</strong> is used to retrieve data from one or more tables.</p>

<p>You tell the database:</p>
<ul>
  <li>What columns you want to see ‚Üí <code>SELECT</code></li>
  <li>Where to get them from ‚Üí <code>FROM</code></li>
</ul>

<p>This command is the most frequently used in SQL and is the base of all data exploration, filtering, reporting, and joining.</p>


</div>

#### 1. Basic SELECT Query

In [ ]:
-- SQL Syntax:
SELECT column1, column2 FROM table_name;

-- Example:C
SELECT name, age FROM employees;

#### 2. Select All Columns

In [ ]:
-- SQL Syntax:
SELECT * FROM table_name;

-- Example:C
SELECT * FROM employees;

#### 3. Rename Columns with Aliases

In [ ]:
-- SQL Syntax:
SELECT column_name AS alias_name FROM table_name;

-- Example:
SELECT name AS employee_name FROM employees;

## 8. WHERE COMMAND

#### 4. Filter Rows Using WHERE

In [ ]:
-- SQL Syntax:
SELECT * FROM table_name WHERE condition;

-- Examples:

SELECT * FROM employees WHERE age > 30;
SELECT * FROM employees WHERE department = 'HR';


<div style="
    color: black;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 1%;
    font-size: 1em;
    border: 1px solid #3f37c9;
">
<p><strong>5. Use Comparison Operators</strong></p>

<table border="1" cellpadding="6" cellspacing="0">
  <thead>
    <tr>
      <th>Operator</th>
      <th>Meaning</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>=</td>
      <td>Equals</td>
    </tr>
    <tr>
      <td>!= or &lt;&gt;</td>
      <td>Not equal</td>
    </tr>
    <tr>
      <td>&gt;, &lt;</td>
      <td>Greater/Less than</td>
    </tr>
    <tr>
      <td>&gt;=, &lt;=</td>
      <td>Greater/Less than or equal</td>
    </tr>
  </tbody>
</table>


<p><strong>6. Use Logical Operators</strong></p>

<table border="1" cellpadding="6" cellspacing="0">
  <thead>
    <tr>
      <th>Operator</th>
      <th>Use Case</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>AND</td>
      <td>Combines conditions (both must be true)</td>
    </tr>
    <tr>
      <td>OR</td>
      <td>Either condition must be true</td>
    </tr>
    <tr>
      <td>NOT</td>
      <td>Negates a condition</td>
    </tr>
  </tbody>
</table>


</div>

### 7. Sorting Results ‚Äì ORDER BY

In [ ]:
SELECT * FROM employees ORDER BY age ASC;
SELECT * FROM employees ORDER BY salary DESC;

-- ASC is for ascending order, DESC is for descending order.

### 8. Limiting Results ‚Äì LIMIT

In [ ]:
-- LIMIT is used to limit the number of rows returned by a query.
-- Example:

SELECT * FROM employees LIMIT 10;
-- This will return the first 10 rows of the result set.

-- Use OFFSET to skip rows:
-- OFFSET specifies how many rows to skip before starting to return rows from the query.

-- SQL Syntax:

SELECT column1, column2
FROM table_name
ORDER BY column_name
OFFSET n;

-- where n is the number of rows to skip.

-- Example:
SELECT * FROM employees LIMIT 10 OFFSET 5;

###  9. DISTINCT Values

In [ ]:
-- The DISTINCT keyword in SQL is used to remove duplicate rows from the result set ‚Äî it ensures that only unique values are returned.

-- SQL Syntax:

SELECT DISTINCT column1, column2, ...
FROM table_name;

-- Example:
SELECT DISTINCT department FROM employees;

### 10. IN, BETWEEN, IS NULL


<div style="
    color: black;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 1%;
    font-size: 1em;
    border: 1px solid #3f37c9;
">

<h3>Special Conditions for Filtering Rows in PostgreSQL</h3>
<p>PostgreSQL provides several useful operators for filtering rows in a <b>WHERE</b> clause:</p>

<ul>
  <li>
    <b>IN</b> ‚Äì Checks if a value exists in a list of values.
  </li>

  <li>
    <b>BETWEEN</b> ‚Äì Checks if a value lies within a range (inclusive).
  </li>

  <li>
    <b>IS NULL / IS NOT NULL</b> ‚Äì Checks if a column is empty (NULL) or not empty.
  </li>
</ul>


</div>

In [ ]:
-- Syntax:

SELECT column1, column2
FROM table_name
WHERE column_name IN (value1, value2, ...);

-- Example:
SELECT * 
FROM employees
WHERE department IN ('IT', 'HR');
-- Find employees in IT or HR department

In [ ]:
-- NOT IN: 
-- The NOT IN operator is used to exclude rows that match any value in a specified list.

-- Example:
SELECT * 
FROM employees
WHERE department NOT IN ('IT', 'HR');
-- Employees not in IT or HR

In [ ]:
-- Syntax:

SELECT column1, column2
FROM table_name
WHERE column_name BETWEEN value1 AND value2;

-- Example:
SELECT * 
FROM employees
WHERE age BETWEEN 25 AND 35;
-- Employees aged between 25 and 35

In [ ]:
NOT BETWEEN:
-- The NOT BETWEEN operator is used to exclude rows that fall within a specified range.

-- example:
SELECT * 
FROM employees
WHERE age NOT BETWEEN 25 AND 35;
-- Employees outside age range 25 to 35

-- Note: BETWEEN works with numbers, dates, and text (alphabetical range).

In [ ]:
-- Syntax:

SELECT column1, column2
FROM table_name
WHERE column_name IS NULL;

-- Example:
SELECT *
FROM employees
WHERE email IS NULL;
-- Find employees with no email

SELECT *
FROM employees
WHERE email IS NOT NULL;
-- Find employees who have an email

In [ ]:
-- Combine These Operators
-- we can combine them using AND / OR:

SELECT *
FROM employees
WHERE department IN ('IT', 'HR')
  AND age BETWEEN 25 AND 35
  AND email IS NOT NULL;
-- Employees in IT or HR, age 25‚Äì35, and email is present

## 9. AGGREGATE FUNCTIONS


<div style="
    color: black;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 1%;
    font-size: 1em;
    border: 1px solid #3f37c9;
">

<h3>Aggregate Functions in PostgreSQL</h3>
<p>Aggregate functions are functions that take multiple rows as input and return a single value as output.</p>
<p>They are mainly used to summarize or analyze data.</p>

<p><b>Example:</b> Counting rows, calculating average salary, finding maximum sales.</p>

<p>Aggregate functions ignore NULL values (except <b>COUNT(*)</b> which counts all rows).</p>

<p>They are most often used with:</p>
<ul>
  <li>SELECT</li>
  <li>GROUP BY</li>
  <li>HAVING</li>
</ul>

<h4>Common Aggregate Functions</h4>
<table border="1" cellspacing="0" cellpadding="6">
  <thead>
    <tr>
      <th>Function</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>COUNT()</td>
      <td>Returns the number of rows</td>
    </tr>
    <tr>
      <td>SUM()</td>
      <td>Returns the sum of values</td>
    </tr>
    <tr>
      <td>AVG()</td>
      <td>Returns the average of values</td>
    </tr>
    <tr>
      <td>MAX()</td>
      <td>Returns the largest value</td>
    </tr>
    <tr>
      <td>MIN()</td>
      <td>Returns the smallest value</td>
    </tr>
    <tr>
      <td>ARRAY_AGG()</td>
      <td>Combines values into an array</td>
    </tr>
    <tr>
      <td>STRING_AGG()</td>
      <td>Concatenates strings with a separator</td>
    </tr>
    <tr>
      <td>VARIANCE() / VAR_POP() / VAR_SAMP()</td>
      <td>Measures data spread</td>
    </tr>
    <tr>
      <td>STDDEV() / STDDEV_POP() / STDDEV_SAMP()</td>
      <td>Standard deviation</td>
    </tr>
  </tbody>
</table>


</div>

In [ ]:
-- 1. COUNT() ‚Äì Count Rows

SELECT COUNT(*) FROM employees;              -- Count all rows
SELECT COUNT(email) FROM employees;          -- Count non-NULL emails

In [ ]:
-- 2. SUM() ‚Äì Total of Values

SELECT SUM(salary) AS total_salary FROM employees; -- Total salary of all employees

In [ ]:
-- 3. AVG() ‚Äì Average Value

SELECT AVG(salary) AS average_salary FROM employees; -- Average salary of all employees

In [ ]:
-- 4. MAX() and MIN() ‚Äì Largest & Smallest

SELECT MAX(salary) AS highest_salary FROM employees;  -- Highest salary among employees
SELECT MIN(salary) AS lowest_salary FROM employees;  -- Lowest salary among employees

In [ ]:
-- 5. ARRAY_AGG() ‚Äì Combine Values into Array

SELECT ARRAY_AGG(name) AS all_names FROM employees;  -- Combine all employee names into an array

In [ ]:
-- 6. STRING_AGG() ‚Äì Combine Strings

SELECT STRING_AGG(name, ', ') AS all_names FROM employees;  
-- Combine all employee names into a single string, separated by commas

## 10. GROUP BY


<div style="
    color: black;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 1%;
    font-size: 1em;
    border: 1px solid #3f37c9;
">

<p>The GROUP BY statement in PostgreSQL is used to group rows that have the same values in specified columns.
Then, we can apply aggregate functions like COUNT(), SUM(), AVG(), MAX(), MIN() on each group instead of the entire table.</p>

<p><b>Think of it like this:</b></p>
<ol>
  <li>First, PostgreSQL divides your data into groups based on the column(s) you choose.</li>
  <li>Then, it summarizes each group with your aggregate functions.</li>
</ol>

<p><b>Use Cases for Data Science:</b></p>
<ul>
  <li>Count users in each city</li>
  <li>Average salary per department</li>
  <li>Total sales per month</li>
</ul>


</div>

In [ ]:
-- Basic Syntax

SELECT column1, AGGREGATE_FUNCTION(column2)
FROM table_name
GROUP BY column1;

-- Example

SELECT department, COUNT(*) AS employee_count
FROM employees
GROUP BY department;

-- Explanation:
-- Groups all employees by department
-- Counts the number of employees in each department

### 2. Multiple Columns in GROUP BY

In [ ]:
-- Multiple Columns in GROUP BY

SELECT department, job_title, AVG(salary) AS avg_salary
FROM employees
GROUP BY department, job_title;

-- Explanation:
-- Groups employees by both department and job title
-- Calculates the average salary for each group

### 3. Using GROUP BY with ORDER BY

In [ ]:
-- Sexample

SELECT department, SUM(salary) AS total_salary
FROM employees
GROUP BY department
ORDER BY total_salary DESC;

-- Explanation:
-- Groups salaries by department
-- Orders departments by total salary in descending order

### 4. Filter Groups with HAVING

In [ ]:
-- HAVING is like a WHERE for groups.
-- WHERE filters rows before grouping
-- HAVING filters groups after aggregation

In [ ]:
-- example

SELECT department, COUNT(*) AS emp_count
FROM employees
GROUP BY department
HAVING COUNT(*) > 5;

-- Explanation:
-- Only shows departments with more than 5 employees

### 5. Combine with Aggregate Functions

In [ ]:
-- Example:

SELECT department,
       COUNT(*) AS emp_count,
       AVG(salary) AS avg_salary,
       MAX(salary) AS top_salary
FROM employees
GROUP BY department;

-- Explanation:
-- Groups employees by department 
-- Calculates the number of employees, average salary, and maximum salary for each department

## 11. WILDCARDS


<div style="
    color: black;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 1%;
    font-size: 1em;
    border: 1px solid #3f37c9;
">

<p>Wildcards are special characters used in SQL queries to match unknown characters or sequences of characters in a string.</p>

<p>They are mainly used with:</p>
<ul>
  <li><b>LIKE</b> / <b>ILIKE</b> (for simple pattern matching)</li>
  <li><b>SIMILAR TO</b> (for regex-like matching)</li>
  <li><b>Regular Expressions</b> (~, ~*)</li>
</ul>

<p>Wildcards allow you to search for partial matches instead of exact matches.</p>

<p><b>Example:</b> Finding all emails ending with <code>@gmail.com</code> or all names starting with <b>A</b>.</p>

</div>

### 1. Wildcards with LIKE / ILIKE


<div style="
    color: black;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 1%;
    font-size: 1em;
    border: 1px solid #3f37c9;
">

<p>
<b>LIKE</b> = Case-sensitive pattern matching<br>
<b>ILIKE</b> = Case-insensitive pattern matching
</p>

<h4>Wildcards:</h4>
<table border="1" cellspacing="0" cellpadding="6">
  <thead>
    <tr>
      <th>Wildcard</th>
      <th>Meaning</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>%</td>
      <td>Matches 0 or more characters</td>
    </tr>
    <tr>
      <td>_</td>
      <td>Matches exactly 1 character</td>
    </tr>
  </tbody>
</table>

</div>

In [ ]:
-- Examples: Using %

-- Names starting with A
SELECT * FROM employees WHERE name LIKE 'A%';

-- Names ending with n
SELECT * FROM employees WHERE name LIKE '%n';

-- Names containing 'li'
SELECT * FROM employees WHERE name LIKE '%li%';

-- Examples: Using _

-- Names with exactly 5 letters
SELECT * FROM employees WHERE name LIKE '_____';

-- Names starting with J and 4 letters total
SELECT * FROM employees WHERE name LIKE 'J____';

### 2. Wildcards with SIMILAR TO


<div style="
    color: black;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 1%;
    font-size: 1em;
    border: 1px solid #3f37c9;
">

<p>
<b>SIMILAR TO</b> allows SQL-style regular expressions for pattern matching.  
It combines features of <b>LIKE</b> with more regex-like flexibility.
</p>

<h4>Wildcards:</h4>
<table border="1" cellspacing="0" cellpadding="6">
  <thead>
    <tr>
      <th>Wildcard</th>
      <th>Meaning</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>%</td>
      <td>Matches 0 or more characters</td>
    </tr>
    <tr>
      <td>_</td>
      <td>Matches exactly 1 character</td>
    </tr>
    <tr>
      <td>[ ]</td>
      <td>Matches any one of the characters inside the brackets</td>
    </tr>
  </tbody>
</table>


</div>

In [ ]:
-- Example:

-- Names starting with Ali or Ahmed
SELECT * FROM employees WHERE name SIMILAR TO '(Ali|Ahmed)%';

-- Names starting with A or B
SELECT * FROM employees WHERE name SIMILAR TO '[AB]%';

### 3. Wildcards in Regular Expressions


<div style="
    color: black;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 1%;
    font-size: 1em;
    border: 1px solid #3f37c9;
">

<h4>PostgreSQL Regular Expressions Operators</h4>
<p>
PostgreSQL supports full regular expressions using operators like <b>~</b> (case-sensitive) and <b>~*</b> (case-insensitive) for pattern matching.
</p>

<table border="1" cellspacing="0" cellpadding="6">
  <thead>
    <tr>
      <th>Regex Operator</th>
      <th>Description</th>
      <th>Example Pattern</th>
      <th>Matches</th>
      <th>Does Not Match</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>.</td>
      <td>Any single character</td>
      <td>'a.c'</td>
      <td>'abc', 'axc'</td>
      <td>'ac', 'abbc'</td>
    </tr>
    <tr>
      <td>*</td>
      <td>0 or more occurrences</td>
      <td>'ab*c'</td>
      <td>'ac', 'abc', 'abbc', 'abbbc'</td>
      <td>'adc'</td>
    </tr>
    <tr>
      <td>+</td>
      <td>1 or more occurrences</td>
      <td>'ab+c'</td>
      <td>'abc', 'abbc', 'abbbc'</td>
      <td>'ac'</td>
    </tr>
    <tr>
      <td>?</td>
      <td>0 or 1 occurrence</td>
      <td>'ab?c'</td>
      <td>'ac', 'abc'</td>
      <td>'abbc'</td>
    </tr>
    <tr>
      <td>^</td>
      <td>Start of string</td>
      <td>'^abc'</td>
      <td>'abcdef'</td>
      <td>'xabc'</td>
    </tr>
    <tr>
      <td>$</td>
      <td>End of string</td>
      <td>'abc$'</td>
      <td>'xyzabc'</td>
      <td>'abcx'</td>
    </tr>
    <tr>
      <td>[abc]</td>
      <td>Match a, b, or c</td>
      <td>'gr[ae]y'</td>
      <td>'gray', 'grey'</td>
      <td>'groy'</td>
    </tr>
    <tr>
      <td>[^abc]</td>
      <td>Match anything except a, b, or c</td>
      <td>'[^abc]'</td>
      <td>'d', 'x'</td>
      <td>'a', 'b', 'c'</td>
    </tr>
    <tr>
      <td>{n}</td>
      <td>Exactly n times</td>
      <td>'a{3}'</td>
      <td>'aaa'</td>
      <td>'aa', 'aaaa'</td>
    </tr>
    <tr>
      <td>{n,}</td>
      <td>At least n times</td>
      <td>'a{2,}'</td>
      <td>'aa', 'aaa', 'aaaa'</td>
      <td>'a'</td>
    </tr>
    <tr>
      <td>{n,m}</td>
      <td>Between n and m times</td>
      <td>'a{2,4}'</td>
      <td>'aa', 'aaa', 'aaaa'</td>
      <td>'a', 'aaaaa'</td>
    </tr>
  </tbody>
</table>


</div>

In [ ]:
-- Examples:

-- Names ending with 'son'
SELECT * FROM employees WHERE name ~ 'son$';

-- Names starting with A or B
SELECT * FROM employees WHERE name ~* '^[ab]';

-- Names with 2 consecutive vowels
SELECT * FROM employees WHERE name ~* '[aeiou]{2}';

### 3. PostgreSQL Array Operator: @>


<div style="
    color: black;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 1%;
    font-size: 1em;
    border: 1px solid #3f37c9;
">

<p>The <code>@></code> operator is an <strong>array containment operator</strong> in PostgreSQL.</p>

<p><strong>It means:</strong><br>
"Does the left array contain all the elements of the right array?"
</p>

<h3>Example:</h3>
<pre><code>SELECT ARRAY[1, 2, 3, 4] @> ARRAY[2, 3];
</code></pre>

<p><strong>Explanation:</strong><br>
This checks whether the array <code>[1, 2, 3, 4]</code> contains both <code>2</code> and <code>3</code>.
</p>

<p>‚úÖ Yes ‚Üí Returns <code>true</code></p>

<h3>Use Case:</h3>
<p>This operator is especially useful when you're storing lists (arrays) in a table column and want to check if certain elements exist inside them.</p>


</div>

In [ ]:
-- SQl Syntax 
SELECT *
FROM your_table
WHERE your_array_column @> ARRAY[element1, element2, ...];

-- Example:

SELECT *
FROM users
WHERE interests @> ARRAY['python', 'sql'];

## 12. UPDATE COMMAND


<div style="
    color: black;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 1%;
    font-size: 1em;
    border: 1px solid #3f37c9;
">
<p>The <b>UPDATE</b> command is used to modify existing records in a table.</p>

<ul>
  <li>You can change one column, multiple columns, or all rows.</li>
  <li>Usually combined with a <b>WHERE</b> clause to avoid changing every row by mistake.</li>
  <li><b>Warning:</b> If you omit the WHERE clause, PostgreSQL will update <b>all rows</b> in the table!</li>
</ul>

</div>

In [ ]:
-- Basic Syntax

UPDATE table_name
SET column1 = value1,
    column2 = value2
WHERE condition;

### 1. Update a Single Column

In [ ]:
-- Increase salary of employee with id 101 to 60000
UPDATE employees
SET salary = 60000
WHERE id = 101;

### 2. Update Multiple Columns

In [ ]:
-- Update both salary and department for employee 101
UPDATE employees
SET salary = 65000,
    department = 'Finance'
WHERE id = 101;

### 3. Update All Rows

In [ ]:
-- Set all employees to active
UPDATE employees
SET status = 'Active';

### 4. Update Using Expressions

In [ ]:
-- Increase all salaries by 10%
UPDATE employees
SET salary = salary * 1.1;

### 5. Update Using Data From Another Table

In [ ]:
-- Sync employees department from departments table
UPDATE employees e
SET department = d.name
FROM departments d
WHERE e.department_id = d.id;

### 6. Conditional Updates with CASE

In [ ]:
-- Give a 10% raise to IT employees, 5% to HR
UPDATE employees
SET salary = salary * 
    CASE 
        WHEN department = 'IT' THEN 1.10
        WHEN department = 'HR' THEN 1.05
        ELSE 1.00
    END;

## 13. DELETE COMMAND


<div style="
    color: black;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 1%;
    font-size: 1em;
    border: 1px solid #3f37c9;
">
<p>The <b>DELETE</b> command is used to remove rows from a table in PostgreSQL.</p>

<ul>
  <li>It only removes the <b>data</b>, not the table structure.</li>
  <li>Combine with a <b>WHERE</b> clause to delete specific rows.</li>
</ul>

<p><b>Warning:</b> If you omit <b>WHERE</b>, all rows will be deleted and the table will be empty.</p>

</div>

In [ ]:
-- Basic Syntax
DELETE FROM table_name
WHERE condition;

### 1. Delete Specific Rows

In [ ]:
-- Delete employee with id 101
DELETE FROM employees
WHERE id = 101;

-- Delete all employees in HR department
DELETE FROM employees
WHERE department = 'HR';

### 2. Delete All Rows

In [ ]:
DELETE FROM employees;

### 3. Delete Using a Condition with Operators

In [ ]:
-- Delete employees younger than 18
DELETE FROM employees
WHERE age < 18;

-- Delete employees hired before 2020
DELETE FROM employees
WHERE hire_date < '2020-01-01';

### 4. Delete Using Subquery

In [ ]:
-- Delete employees who belong to inactive departments
DELETE FROM employees
WHERE department_id IN (
    SELECT id FROM departments WHERE active = false
);

### 5. Delete All Rows Quickly

In [ ]:
TRUNCATE TABLE employees RESTART IDENTITY;   -- RESTART IDENTITY resets auto-incrementing IDs.

## 14. SUBQUERY


<div style="
    color: black;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 1%;
    font-size: 1em;
    border: 1px solid #3f37c9;
">
<p>A <b>subquery</b> (or inner query) is a query inside another query.</p>

<p>PostgreSQL executes the <b>inner query first</b>, and its result is used by the outer query.</p>

<p>Subqueries can return:</p>
<ul>
  <li><b>Single value</b> (scalar subquery)</li>
  <li><b>Single column</b> (used with <b>IN</b>)</li>
  <li><b>Entire table</b> (used in <b>FROM</b>)</li>
</ul>

</div>

In [ ]:
-- Basic Syntax

SELECT column_list
FROM table_name
WHERE column OPERATOR (SELECT column FROM another_table WHERE condition);

###  1. Subquery in WHERE Clause

In [ ]:
-- Employees earning more than average salary
SELECT *
FROM employees
WHERE salary > (SELECT AVG(salary) FROM employees);

In [ ]:
-- Employees in active departments
SELECT *
FROM employees
WHERE department_id IN (
    SELECT id FROM departments WHERE active = true
);

###  2. Subquery in FROM Clause

In [ ]:
-- Top 3 highest average salaries by department
SELECT department, avg_salary
FROM (
    SELECT department, AVG(salary) AS avg_salary
    FROM employees
    GROUP BY department
) AS dept_avg
ORDER BY avg_salary DESC
LIMIT 3;

-- Treats the subquery as a temporary table

### 3. Subquery in SELECT Clause

In [ ]:
-- Show each employee with the company-wide average salary
SELECT name,
       salary,
       (SELECT AVG(salary) FROM employees) AS company_avg
FROM employees;

-- Subquery returns a single value per row.

### 4. Correlated Subquery

In [ ]:
-- Employees whose salary is above their department's average
SELECT e.name, e.salary
FROM employees e
WHERE salary > (
    SELECT AVG(salary) 
    FROM employees
    WHERE department = e.department
);

-- The inner query depends on the outer query row
-- Runs once for each row of the outer query

### 5. EXISTS with Subquery

In [ ]:
-- Employees who belong to at least one project
SELECT *
FROM employees e
WHERE EXISTS (
    SELECT 1 FROM projects p
    WHERE p.employee_id = e.id
);

-- Checks if any row exists in the subquery result

## 15. FOREIGN KEYS


<div style="
    color: black;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 1%;
    font-size: 1em;
    border: 1px solid #3f37c9;
">
<p>A <b>foreign key</b> is a column (or set of columns) in one table that refers to the primary key in another table.</p>

<p><b>Purpose:</b> To create relationships between tables and maintain data integrity.</p>

<p><b>Foreign keys prevent invalid data from being inserted:</b></p>
<ul>
  <li>You cannot insert a value in the foreign key column that doesn‚Äôt exist in the referenced primary key column.</li>
  <li>You cannot delete a parent row if child rows reference it (unless cascading rules are used).</li>
</ul>

<p>Think of it like linking tables:</p>
<ul>
  <li><b>Parent table</b> ‚Üí Has a primary key</li>
  <li><b>Child table</b> ‚Üí Has a foreign key pointing to that primary key</li>
</ul>

<h4>Example Scenario</h4>

<p><b>Table: departments</b></p>
<pre>
id (PK) | department_name
--------|----------------
1       | IT
2       | HR
</pre>

<p><b>Table: employees</b></p>
<pre>
id (PK) | name     | department_id (FK)
--------|---------|-------------------
101     | Ali     | 1
102     | Sara    | 2
</pre>

<p>Here, <b>department_id</b> in <b>employees</b> is a foreign key referencing <b>departments.id</b>.</p>
<p>Means Ali belongs to the IT department because his <b>departments.id</b> is 1 and Sara belongs to the HR department because her <b>departments.id</b> is 2 </p>

</div>

### 1. Create Table with Foreign Key

In [ ]:
CREATE TABLE departments (
    id SERIAL PRIMARY KEY,
    department_name VARCHAR(50) NOT NULL
);

CREATE TABLE employees (
    id SERIAL PRIMARY KEY,
    name VARCHAR(50),
    department_id INT,
    CONSTRAINT fk_department
        FOREIGN KEY (department_id)
        REFERENCES departments(id)
);

### 2. Add Foreign Key to an Existing Table

In [ ]:
ALTER TABLE employees
ADD CONSTRAINT fk_department
FOREIGN KEY (department_id)
REFERENCES departments(id);

### 3. Delete or Update Behavior


<div style="
    color: black;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 1%;
    font-size: 1em;
    border: 1px solid #3f37c9;
">
<p>When a parent row is deleted or updated, PostgreSQL checks what to do with child rows.</p>

<table border="1" cellspacing="0" cellpadding="6">
  <thead>
    <tr>
      <th>Option</th>
      <th>Behavior</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>ON DELETE CASCADE</td>
      <td>Delete child rows automatically</td>
    </tr>
    <tr>
      <td>ON DELETE SET NULL</td>
      <td>Set child rows to NULL</td>
    </tr>
    <tr>
      <td>ON DELETE RESTRICT</td>
      <td>Prevent deletion if child rows exist (default)</td>
    </tr>
    <tr>
      <td>ON DELETE NO ACTION</td>
      <td>Similar to RESTRICT</td>
    </tr>
    <tr>
      <td>ON UPDATE CASCADE</td>
      <td>Update child rows if parent key changes</td>
    </tr>
  </tbody>
</table>

</div>

In [ ]:
-- Example:

CREATE TABLE employees (
    id SERIAL PRIMARY KEY,
    name VARCHAR(50),
    department_id INT,
    FOREIGN KEY (department_id)
        REFERENCES departments(id)
        ON DELETE CASCADE
        ON UPDATE CASCADE
);

###  4. Drop a Foreign Key Constraint

In [ ]:
ALTER TABLE employees
DROP CONSTRAINT fk_department;


<div style="
    color: black;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 1%;
    font-size: 1em;
    border: 1px solid #3f37c9;
">
<p><strong>pgAdmin GUI Steps</strong></p>

<p><strong>Create Foreign Key When Creating Table</strong></p>
<ol>
  <li>Right-click Tables ‚Üí Create ‚Üí Table</li>
  <li>In Columns tab, define your column</li>
  <li>In Constraints tab ‚Üí Foreign Keys, add:
    <ul>
      <li>Referenced table & column</li>
      <li>Optional ON DELETE / ON UPDATE behavior</li>
    </ul>
  </li>
</ol>

<p><strong>Add Foreign Key to Existing Table</strong></p>
<ol>
  <li>Right-click your table ‚Üí Properties ‚Üí Constraints ‚Üí Foreign Keys ‚Üí Add</li>
  <li>Select referenced table and column</li>
  <li>Set cascade rules if needed</li>
  <li>Click Save</li>
</ol>

<p><strong>View Foreign Keys</strong></p>
<ol>
  <li>Right-click the table ‚Üí Properties ‚Üí Constraints tab</li>
  <li>Check all foreign keys and their referenced tables</li>
</ol>

</div>

## 16. RELATIONSHIPS BETWEEN TABLES


<div style="
    color: black;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 1%;
    font-size: 1em;
    border: 1px solid #3f37c9;
">
<p>In relational databases like PostgreSQL, <strong>relationships</strong> between tables define how data in one table relates to data in another table.</p>

<p>Relationships help organize data efficiently and are based on keys:</p>
<ul>
  <li><strong>Primary Key (PK)</strong> ‚Äì Uniquely identifies a record in a table.</li>
  <li><strong>Foreign Key (FK)</strong> ‚Äì Refers to the PK in another table.</li>
</ul>

<p><strong>Types of Relationships:</strong></p>
<ol>
  <li><strong>One-to-One (1:1)</strong> ‚Äì Each row in Table A relates to exactly one row in Table B.</li>
  <li><strong>One-to-Many (1:N)</strong> ‚Äì A row in Table A can relate to multiple rows in Table B (most common).</li>
  <li><strong>Many-to-Many (M:N)</strong> ‚Äì Rows in Table A can relate to multiple rows in Table B and vice versa, usually implemented using a junction table.</li>
</ol>


</div>

### 1. One-to-One (1:1)


<div style="
    color: black;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 1%;
    font-size: 1em;
    border: 1px solid #3f37c9;
">
<p><strong>Definition:</strong><br>
Each row in Table A is related to only one row in Table B, and vice versa.</p>

<p><strong>Example:</strong></p>
<ul>
  <li><strong>employees</strong> table ‚Üí basic info</li>
  <li><strong>employee_details</strong> table ‚Üí detailed info (1 row per employee)</li>
</ul>

</div>

In [ ]:
CREATE TABLE employees (
    id SERIAL PRIMARY KEY,
    name VARCHAR(50)
);

CREATE TABLE employee_details (
    emp_id INT PRIMARY KEY,
    address VARCHAR(100),
    phone VARCHAR(20),
    FOREIGN KEY (emp_id) REFERENCES employees(id)
);

### 2. One-to-Many (1:N)


<div style="
    color: black;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 1%;
    font-size: 1em;
    border: 1px solid #3f37c9;
">
<p><strong>Definition:</strong><br>
A single row in Table A can have multiple related rows in Table B.<br>
This is the most common relationship.</p>

<p><strong>Example:</strong></p>
<ul>
  <li>One department can have many employees.</li>
</ul>


</div>

In [ ]:
CREATE TABLE departments (
    id SERIAL PRIMARY KEY,
    department_name VARCHAR(50)
);

CREATE TABLE employees (
    id SERIAL PRIMARY KEY,
    name VARCHAR(50),
    department_id INT,
    FOREIGN KEY (department_id) REFERENCES departments(id)
);

-- departments.id ‚Üí Primary Key
-- employees.department_id ‚Üí Foreign Key

###  3. Many-to-Many (M:N)


<div style="
    color: black;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 1%;
    font-size: 1em;
    border: 1px solid #3f37c9;
">
<p><strong>Definition:</strong><br>
A row in Table A can relate to many rows in Table B, and vice versa.<br>
Requires a third table (junction table) to manage the relationship.</p>

<p><strong>Example:</strong></p>
<ul>
  <li>Students can enroll in many courses</li>
  <li>Courses can have many students</li>
</ul>



</div>

In [ ]:
CREATE TABLE students (
    id SERIAL PRIMARY KEY,
    name VARCHAR(50)
);

CREATE TABLE courses (
    id SERIAL PRIMARY KEY,
    course_name VARCHAR(50)
);

-- Junction table for many-to-many relationship
CREATE TABLE student_courses (
    student_id INT,
    course_id INT,
    PRIMARY KEY (student_id, course_id),
    FOREIGN KEY (student_id) REFERENCES students(id),
    FOREIGN KEY (course_id) REFERENCES courses(id)
);

## 17. JOINS


<div style="
    color: black;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 1%;
    font-size: 1em;
    border: 1px solid #3f37c9;
">
<p><strong>JOINS</strong> in SQL are used to combine rows from two or more tables based on a related column (usually a foreign key).</p>

<p><strong>Why use JOINS?</strong></p>
<ul>
  <li>To retrieve data spread across multiple tables</li>
  <li>To analyze relationships (e.g., employees & departments)</li>
</ul>

<p><strong>PostgreSQL supports these main types of joins:</strong></p>
<ul>
  <li>INNER JOIN</li>
  <li>LEFT JOIN (LEFT OUTER JOIN)</li>
  <li>RIGHT JOIN (RIGHT OUTER JOIN)</li>
  <li>FULL OUTER JOIN</li>
  <li>CROSS JOIN</li>
  <li>SELF JOIN</li>
</ul>

</div>


<div style="
    color: black;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 1%;
    font-size: 1em;
    border: 1px solid #3f37c9;
">
<p><strong>Example Tables:</strong></p>

<p><strong>departments</strong></p>
<table border="1" cellspacing="0" cellpadding="6">
  <thead>
    <tr>
      <th>id</th>
      <th>department_name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>IT</td>
    </tr>
    <tr>
      <td>2</td>
      <td>HR</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Finance</td>
    </tr>
  </tbody>
</table>

<p><strong>employees</strong></p>
<table border="1" cellspacing="0" cellpadding="6">
  <thead>
    <tr>
      <th>id</th>
      <th>name</th>
      <th>department_id</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>101</td>
      <td>Ali</td>
      <td>1</td>
    </tr>
    <tr>
      <td>102</td>
      <td>Sara</td>
      <td>2</td>
    </tr>
    <tr>
      <td>103</td>
      <td>John</td>
      <td>1</td>
    </tr>
    <tr>
      <td>104</td>
      <td>Ahmed</td>
      <td>NULL</td>
    </tr>
  </tbody>
</table>


</div>

### 1. INNER JOIN

In [ ]:
-- Returns only rows with matching values in both tables.
SELECT e.id, e.name, d.department_name
FROM employees e
INNER JOIN departments d
ON e.department_id = d.id;

| id  | name | department\_name |
| --- | ---- | ---------------- |
| 101 | Ali  | IT               |
| 102 | Sara | HR               |
| 103 | John | IT               |

### 2. LEFT JOIN

In [ ]:
-- Returns all rows from the left table + matching rows from the right table.
-- If no match, right columns are NULL.

SELECT e.id, e.name, d.department_name
FROM employees e
LEFT JOIN departments d
ON e.department_id = d.id;

| id  | name  | department\_name |
| --- | ----- | ---------------- |
| 101 | Ali   | IT               |
| 102 | Sara  | HR               |
| 103 | John  | IT               |
| 104 | Ahmed | NULL             |

### 3. RIGHT JOIN

In [ ]:
-- Returns all rows from the right table + matching rows from the left table.
-- If no match, left columns are NULL.

SELECT e.id, e.name, d.department_name
FROM employees e
RIGHT JOIN departments d
ON e.department_id = d.id;

| id   | name | department\_name |
| ---- | ---- | ---------------- |
| 101  | Ali  | IT               |
| 102  | Sara | HR               |
| 103  | John | IT               |
| NULL | NULL | Finance          |

### 4. FULL OUTER JOIN

In [ ]:
-- Returns all rows from both tables.
-- If there‚Äôs no match, missing columns are NULL.

SELECT e.id, e.name, d.department_name
FROM employees e
FULL OUTER JOIN departments d
ON e.department_id = d.id;

| id   | name  | department\_name |
| ---- | ----- | ---------------- |
| 101  | Ali   | IT               |
| 102  | Sara  | HR               |
| 103  | John  | IT               |
| 104  | Ahmed | NULL             |
| NULL | NULL  | Finance          |

###  5. CROSS JOIN

In [ ]:
-- Returns every combination of rows from both tables
-- (No condition ‚Üí Cartesian product)

SELECT e.name, d.department_name
FROM employees e
CROSS JOIN departments d;

| name  | department\_name |
| ----- | ---------------- |
| Ali   | IT               |
| Ali   | HR               |
| Ali   | Finance          |
| Sara  | IT               |
| Sara  | HR               |
| Sara  | Finance          |
| John  | IT               |
| John  | HR               |
| John  | Finance          |
| Ahmed | IT               |
| Ahmed | HR               |
| Ahmed | Finance          |

### 6. SELF JOIN

In [ ]:
-- Join a table with itself using aliases.
-- Useful for hierarchies like employee ‚Üí manager relationships.

-- Employees with their managers
SELECT e.name AS employee, m.name AS manager
FROM employees e
LEFT JOIN employees m
ON e.department_id = m.department_id
AND e.id <> m.id;

## 18. COMMON TABLE EXPRESSIONS ‚Äì CTEs


<div style="
    color: black;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 1%;
    font-size: 1em;
    border: 1px solid #3f37c9;
">
<p><strong>The WITH Clause in PostgreSQL</strong></p>

<p>The <code>WITH</code> clause lets you create temporary named result sets 
(also called <strong>Common Table Expressions</strong> or <strong>CTEs</strong>) 
that can be used later in your main query.</p>

<p><strong>Think of it as:</strong><br>
‚ÄúI‚Äôll prepare some data first, give it a name, and then use it in my main query without writing it again.‚Äù
</p>

<h4>When to Use WITH:</h4>
<ul>
  <li>To break a complex query into smaller, readable parts.</li>
  <li>To reuse the same calculation or dataset multiple times in a query.</li>
  <li>To perform recursive (self-referencing) queries.</li>
</ul>

<h4>Key Points:</h4>
<ul>
  <li>CTEs exist only during the execution of the query.</li>
  <li>They improve query readability and maintainability.</li>
  <li>You can define multiple CTEs by separating them with commas.</li>
</ul>



</div>

In [ ]:
-- General Syntax:

WITH cte_name AS (
    SELECT columns
    FROM table_name
    WHERE condition
)
SELECT *
FROM cte_name;

In [ ]:
-- Example 1 ‚Äì Simple CTE:

WITH high_salary_employees AS (
    SELECT employee_id, name, salary
    FROM employees
    WHERE salary > 50000
)
SELECT name, salary
FROM high_salary_employees
ORDER BY salary DESC;

-- This first makes a temporary dataset of employees with salary > 50,000, then selects from it.

In [ ]:
-- Example 2 ‚Äì Multiple CTEs:

WITH sales_per_product AS (
    SELECT product_id, SUM(quantity) AS total_sold
    FROM sales
    GROUP BY product_id
),
top_products AS (
    SELECT product_id, total_sold
    FROM sales_per_product
    WHERE total_sold > 100
)
SELECT *
FROM top_products;

-- Here, the first CTE calculates total sales per product, and the second CTE filters for top products.

In [ ]:
-- Example 3 ‚Äì Recursive CTE:

WITH RECURSIVE countdown AS (
    SELECT 5 AS num
    UNION ALL
    SELECT num - 1
    FROM countdown
    WHERE num > 1
)
SELECT * FROM countdown;

## 19. VIEWS & MATERIALIZED VIEWS


<div style="
    color: black;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 1%;
    font-size: 1em;
    border: 1px solid #3f37c9;
">
<h3>Views</h3>
<p>A View is like a saved query that you can treat as a virtual table.</p>
<p>It does not store actual data; instead, it pulls fresh data every time you query it.</p>
<p>Useful when:</p>
<ul>
  <li>You want to simplify complex queries (e.g., join multiple tables but reuse the result often).</li>
  <li>You want to give users restricted access to only specific columns/rows.</li>
  <li>You want to present data in a specific format without modifying the original tables.</li>
</ul>
<p>Key Points:</p>
<ul>
  <li>Lightweight (doesn‚Äôt store data).</li>
  <li>Always up-to-date because it fetches live data from the underlying tables.</li>
  <li>If base tables change, the view reflects it automatically.</li>
</ul>

<h2>Materialized Views</h2>
<p>A Materialized View is like a snapshot of a query result that gets stored physically in the database.</p>
<p>Unlike normal views, it stores the data.</p>
<p>Useful when:</p>
<ul>
  <li>The query is very expensive (e.g., joining millions of rows).</li>
  <li>You want to query the result multiple times without recalculating.</li>
  <li>Data does not change too frequently.</li>
</ul>
<p>Key Points:</p>
<ul>
  <li>Faster performance for repeated queries.</li>
  <li>Needs manual refreshing (to update with the latest data).</li>
  <li>Takes up storage because it stores data.</li>
</ul>


</div>

### Creating a View

In [ ]:
-- SQL Syntax
CREATE VIEW view_name AS
SELECT column1, column2
FROM table_name
WHERE condition;

-- Example:
CREATE VIEW high_salary_employees AS
SELECT name, department, salary
FROM employees
WHERE salary > 60000;

### Using the View

In [ ]:
SELECT * FROM high_salary_employees;

### Updating a View (Replace/Modify)

In [ ]:
CREATE OR REPLACE VIEW view_name AS
SELECT ...

### Dropping a View

In [ ]:
DROP VIEW view_name;

### Creating a Materialized View

In [ ]:
-- SQL Syntax
CREATE MATERIALIZED VIEW mv_name AS
SELECT column1, column2
FROM table_name
WHERE condition;

-- Example:
CREATE MATERIALIZED VIEW sales_summary AS
SELECT product_id, SUM(quantity) AS total_sold
FROM sales
GROUP BY product_id;

### Refreshing a Materialized View

In [ ]:
REFRESH MATERIALIZED VIEW mv_name;

### Dropping a Materialized View

In [ ]:
DROP MATERIALIZED VIEW mv_name;


<div style="
    color: black;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 1%;
    font-size: 1em;
    border: 1px solid #3f37c9;
">
<h3>pgAdmin GUI Steps</h3>

<h4>For Views:</h4>
<ol>
  <li>Open pgAdmin ‚Üí connect to your database.</li>
  <li>Navigate to <b>Schemas ‚Üí public ‚Üí Views</b>.</li>
  <li>Right-click <b>Views</b> ‚Üí <b>Create ‚Üí View</b>.</li>
  <li>Fill in:
    <ul>
      <li><b>Name:</b> (e.g., high_salary_employees)</li>
      <li><b>Definition tab:</b> write the SQL query (SELECT statement).</li>
    </ul>
  </li>
  <li>Click <b>Save</b>.</li>
  <li>To run it: Right-click the view ‚Üí <b>View/Edit Data ‚Üí All Rows</b>.</li>
</ol>

<h4>For Materialized Views:</h4>
<ol>
  <li>In pgAdmin, go to <b>Schemas ‚Üí public ‚Üí Materialized Views</b>.</li>
  <li>Right-click ‚Üí <b>Create ‚Üí Materialized View</b>.</li>
  <li>Enter the <b>Name</b> and <b>Definition</b> (SQL query).</li>
  <li>Click <b>Save</b>.</li>
  <li>To update data: Right-click the materialized view ‚Üí <b>Refresh</b>.</li>
  <li>To query: Run <code>SELECT * FROM mv_name;</code> in Query Tool or <b>View/Edit Data</b>.</li>
</ol>


</div>

## 20. STORED PROCEDURES


<div style="
    color: black;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 1%;
    font-size: 1em;
    border: 1px solid #3f37c9;
">

<p>A <b>Stored Procedure</b> is a block of SQL code (sometimes mixed with logic like loops, conditions, and variables) that is saved in the database and can be executed whenever needed.</p>

<p>Think of it like a <b>function in programming</b>, but stored inside the database.</p>

<p>It allows you to bundle multiple SQL statements together (insert, update, delete, complex logic).</p>

<h4>Why Use Stored Procedures?</h4>
<ul>
  <li><b>Automation</b> ‚Äì Perform repetitive tasks (e.g., monthly report generation).</li>
  <li><b>Performance</b> ‚Äì Runs directly inside the database (less network overhead).</li>
  <li><b>Reusability</b> ‚Äì Write once, call many times.</li>
  <li><b>Security</b> ‚Äì Can restrict direct table access and only expose procedures.</li>
</ul>

<h4>Difference from Functions:</h4>
<ul>
  <li><b>Functions</b> return a value and are mostly used in queries.</li>
  <li><b>Procedures</b> don‚Äôt return a value (but can use OUT parameters) and are executed with <code>CALL</code>.</li>
</ul>

</div>

In [ ]:
-- SQL Syntax 
Creating a Stored Procedure
CREATE PROCEDURE procedure_name (parameters)
LANGUAGE plpgsql
AS $$
BEGIN
   -- SQL statements go here
END;
$$;

-- Example: Insert Employee Record
CREATE PROCEDURE add_employee(emp_name TEXT, emp_salary NUMERIC)
LANGUAGE plpgsql
AS $$
BEGIN
   INSERT INTO employees (name, salary)
   VALUES (emp_name, emp_salary);
END;
$$;

### Call the Procedure

In [ ]:
CALL add_employee('Joe', 75000);

In [ ]:
-- Example 2: Procedure with Conditional Logic

CREATE PROCEDURE update_salary(emp_id INT, new_salary NUMERIC)
LANGUAGE plpgsql
AS $$
BEGIN
   IF new_salary < 30000 THEN
      RAISE NOTICE 'Salary too low, update rejected!';
   ELSE
      UPDATE employees
      SET salary = new_salary
      WHERE id = emp_id;
   END IF;
END;
$$;

-- Execute:

CALL update_salary(3, 90000);

### Dropping a Procedure

In [ ]:
-- SQL Syntax
DROP PROCEDURE procedure_name(parameters);
-- Example:
DROP PROCEDURE add_employee(TEXT, NUMERIC);

## 21. Functions


<div style="
    color: black;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 1%;
    font-size: 1em;
    border: 1px solid #3f37c9;
">


<p>A <b>Function</b> in PostgreSQL is a reusable block of SQL code (sometimes with logic, conditions, and loops) that is stored in the database and can be used anywhere in queries.</p>

<h4>Key Points:</h4>
<ul>
  <li>Functions always return a value (unlike procedures).</li>
  <li>They can take input parameters and return a single value or a table.</li>
  <li>Functions can be written in multiple languages (SQL, PL/pgSQL, Python, etc.), but most commonly in PL/pgSQL.</li>
</ul>

<h4>Common Use Cases:</h4>
<ul>
  <li>Custom calculations</li>
  <li>Data transformations</li>
  <li>Wrapping complex queries</li>
  <li>Reusing business logic across multiple queries</li>
</ul>

<h4>Difference between Function and Procedure:</h4>
<table border="1" cellpadding="5" cellspacing="0">
  <tr>
    <th>Feature</th>
    <th>Function</th>
    <th>Procedure</th>
  </tr>
  <tr>
    <td>Return Value</td>
    <td>Must return a value (scalar or table)</td>
    <td>Doesn‚Äôt return a value (but can use OUT parameters)</td>
  </tr>
  <tr>
    <td>Call Method</td>
    <td>Used inside queries (<code>SELECT my_function(...)</code>)</td>
    <td>Called with <code>CALL procedure_name(...)</code></td>
  </tr>
  <tr>
    <td>Usage</td>
    <td>Data retrieval, transformations</td>
    <td>Multi-step operations (insert/update/delete + logic)</td>
  </tr>
</table>

</div>

In [ ]:
-- SQL Syntax
CREATE OR REPLACE FUNCTION function_name (parameters)
RETURNS return_type
LANGUAGE plpgsql
AS $$
BEGIN
   -- SQL code and logic
   RETURN something;
END;
$$;

### Example 1: Simple Function to Add Two Numbers

In [ ]:
CREATE OR REPLACE FUNCTION add_numbers(a INT, b INT)
RETURNS INT
LANGUAGE plpgsql
AS $$
BEGIN
   RETURN a + b;
END;
$$;
-- Example: Call the Function
SELECT add_numbers(5, 10);

### Example 2: Function Returning Text

In [ ]:
CREATE OR REPLACE FUNCTION greet_user(name TEXT)
RETURNS TEXT
LANGUAGE plpgsql
AS $$
BEGIN
   RETURN 'Hello, ' || name || '!';
END;
$$;
-- Example: Call the Function
SELECT greet_user('Joe');

### Example 3: Function Returning a Table

In [ ]:
CREATE OR REPLACE FUNCTION get_high_salary_employees(min_salary NUMERIC)
RETURNS TABLE (emp_id INT, emp_name TEXT, emp_salary NUMERIC)
LANGUAGE plpgsql
AS $$
BEGIN
   RETURN QUERY
   SELECT id, name, salary
   FROM employees
   WHERE salary > min_salary;
END;
$$;
-- Example: Call the Function
SELECT * FROM get_high_salary_employees(60000);

### Dropping a Function

In [ ]:
-- SQL Syntax
DROP FUNCTION function_name(parameters);

-- Example:
DROP FUNCTION add_numbers(INT, INT);

## 22. TRIGGERS


<div style="
    color: black;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 1%;
    font-size: 1em;
    border: 1px solid #3f37c9;
">

<p>A <b>Trigger</b> in PostgreSQL is like a "watchdog" that automatically runs a function when a specific event happens on a table or view.</p>

<h4>Triggers help automate tasks such as:</h4>
<ul>
  <li>Keeping logs or audit trails (who changed what, when).</li>
  <li>Enforcing business rules.</li>
  <li>Automatically updating or validating data.</li>
</ul>

<p>They are always linked to a <b>table/view + event + function</b>.</p>
<p>A trigger does not contain logic itself ‚Äì it only calls a trigger function.</p>

<h4>Events that can fire a Trigger:</h4>
<ul>
  <li><b>INSERT</b> ‚Üí when a new row is added.</li>
  <li><b>UPDATE</b> ‚Üí when an existing row is modified.</li>
  <li><b>DELETE</b> ‚Üí when a row is removed.</li>
  <li><b>TRUNCATE</b> ‚Üí when all rows in a table are deleted.</li>
</ul>

<h4>When does the trigger run?</h4>
<ul>
  <li><b>BEFORE</b> ‚Üí before the event happens (e.g., validate/modify data).</li>
  <li><b>AFTER</b> ‚Üí after the event happens (e.g., logging).</li>
  <li><b>INSTEAD OF</b> ‚Üí replaces the action (used in views).</li>
</ul>

</div>

In [ ]:
-- SQL Syntax
General Syntax
CREATE TRIGGER trigger_name
{ BEFORE | AFTER | INSTEAD OF } { event [ OR event ... ] }
ON table_name
[ FOR EACH ROW | FOR EACH STATEMENT ]
EXECUTE FUNCTION function_name();


<div style="
    color: black;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 1%;
    font-size: 1em;
    border: 1px solid #3f37c9;
">

<h3>Steps to Create a Trigger</h3>

<ol>
  <li><b>Create a trigger function</b> (must return <code>TRIGGER</code>).</li>
  <li><b>Create a trigger</b> that calls this function when a specific event occurs.</li>
</ol>

</div>

### Example 1: Log Updates

In [ ]:
-- Step 1: Create a log table
CREATE TABLE employee_logs (
    log_id SERIAL PRIMARY KEY,
    emp_id INT,
    old_salary NUMERIC,
    new_salary NUMERIC,
    changed_on TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);

-- Step 2: Create trigger function
CREATE OR REPLACE FUNCTION log_salary_changes()
RETURNS TRIGGER
LANGUAGE plpgsql
AS $$
BEGIN
    INSERT INTO employee_logs(emp_id, old_salary, new_salary)
    VALUES(OLD.id, OLD.salary, NEW.salary);
    RETURN NEW;
END;
$$;

-- Step 3: Create trigger
CREATE TRIGGER salary_update_trigger
AFTER UPDATE OF salary ON employees
FOR EACH ROW
EXECUTE FUNCTION log_salary_changes();

-- Whenever salary is updated in employees, a log entry is automatically inserted into employee_logs.

### Example 2: Prevent Negative Salary (Validation)

In [ ]:
CREATE OR REPLACE FUNCTION prevent_negative_salary()
RETURNS TRIGGER
LANGUAGE plpgsql
AS $$
BEGIN
    IF NEW.salary < 0 THEN
        RAISE EXCEPTION 'Salary cannot be negative!';
    END IF;
    RETURN NEW;
END;
$$;

CREATE TRIGGER validate_salary_trigger
BEFORE INSERT OR UPDATE ON employees
FOR EACH ROW
EXECUTE FUNCTION prevent_negative_salary();
-- Before inserting/updating, if salary < 0 ‚Üí the transaction fails.

### Dropping a Trigger

In [ ]:
-- SQL Syntax
DROP TRIGGER trigger_name ON table_name;

-- Example:
DROP TRIGGER salary_update_trigger ON employees;

## 23. WINDOW FUNCTIONS


<div style="
    color: black;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 1%;
    font-size: 1em;
    border: 1px solid #3f37c9;
">

<h3>Window Function</h3>

<p>
A <b>Window Function</b> performs a calculation across a set of rows related to the current row, 
but <b>without collapsing rows</b> like <code>GROUP BY</code> does.
</p>

<p>
They are often used for:
</p>
<ul>
  <li>Ranking</li>
  <li>Running totals</li>
  <li>Moving averages</li>
  <li>Percentiles</li>
  <li>Lag/Lead values</li>
  <li>Cumulative calculations</li>
</ul>

<p>
The "set of rows" is called a <b>window</b> (defined using <code>OVER (...)</code>).
</p>

<h4>Key Difference from Aggregate Functions:</h4>
<ul>
  <li><b>Aggregate:</b> Groups rows ‚Üí returns one row per group.</li>
  <li><b>Window Function:</b> Keeps all rows ‚Üí adds extra calculated column.</li>
</ul>


</div>

In [ ]:
-- General Syntax

function_name (expression) 
OVER (
   PARTITION BY column_name    -- optional, divides data into groups
   ORDER BY column_name        -- optional, defines row order
   ROWS BETWEEN ...            -- optional, frame definition
);


-- PARTITION BY: Like GROUP BY but does not reduce rows.
-- ORDER BY: Defines the sequence of rows.
-- ROWS BETWEEN: Defines the "window frame" (e.g., last 3 rows, unbounded).

### Common Window Functions

#### a) Ranking Functions

In [ ]:
-- ROW_NUMBER(): Assigns a unique number to each row.
-- RANK(): Gives ranking, skips numbers if there are ties.
-- DENSE_RANK(): Like rank, but no gaps in numbering.

-- Example:
SELECT id, name, salary,
       ROW_NUMBER() OVER (ORDER BY salary DESC) AS row_num,
       RANK()       OVER (ORDER BY salary DESC) AS rank,
       DENSE_RANK() OVER (ORDER BY salary DESC) AS dense_rank
FROM employees;


<div style="
    color: black;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 1%;
    font-size: 1em;
    border: 1px solid #3f37c9;
">
<p>Table Example</p>

<table border="1" cellpadding="5" cellspacing="0">
  <tr>
    <th>id</th>
    <th>name</th>
    <th>salary</th>
    <th>row_num</th>
    <th>rank</th>
    <th>dense_rank</th>
  </tr>
  <tr>
    <td>1</td>
    <td>Ali</td>
    <td>9000</td>
    <td>1</td>
    <td>1</td>
    <td>1</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Sara</td>
    <td>8000</td>
    <td>2</td>
    <td>2</td>
    <td>2</td>
  </tr>
  <tr>
    <td>3</td>
    <td>John</td>
    <td>8000</td>
    <td>3</td>
    <td>2</td>
    <td>2</td>
  </tr>
  <tr>
    <td>4</td>
    <td>Mary</td>
    <td>7000</td>
    <td>4</td>
    <td>4</td>
    <td>3</td>
  </tr>
</table>


</div>

#### b) Aggregate Window Functions

In [ ]:
-- SUM(), AVG(), MIN(), MAX(), COUNT()
-- Unlike normal aggregates, they don‚Äôt collapse rows.

-- Example:
SELECT id, department, salary,
       SUM(salary) OVER (PARTITION BY department) AS dept_total,
       AVG(salary) OVER (PARTITION BY department) AS dept_avg
FROM employees;


<div style="
    color: black;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 1%;
    font-size: 1em;
    border: 1px solid #3f37c9;
">
<p>Table Example</p>
<table border="1" cellpadding="5" cellspacing="0">
  <tr>
    <th>id</th>
    <th>dept</th>
    <th>salary</th>
    <th>dept_total</th>
    <th>dept_avg</th>
  </tr>
  <tr>
    <td>1</td>
    <td>HR</td>
    <td>4000</td>
    <td>9000</td>
    <td>4500</td>
  </tr>
  <tr>
    <td>2</td>
    <td>HR</td>
    <td>5000</td>
    <td>9000</td>
    <td>4500</td>
  </tr>
  <tr>
    <td>3</td>
    <td>IT</td>
    <td>6000</td>
    <td>14000</td>
    <td>7000</td>
  </tr>
  <tr>
    <td>4</td>
    <td>IT</td>
    <td>8000</td>
    <td>14000</td>
    <td>7000</td>
  </tr>
</table>


</div>

#### c) Running Totals & Moving Averages

In [ ]:
SELECT id, name, salary,
       SUM(salary) OVER (ORDER BY id) AS running_total,
       AVG(salary) OVER (ORDER BY id ROWS BETWEEN 2 PRECEDING AND CURRENT ROW) AS moving_avg
FROM employees;

#### d) LAG() and LEAD()

In [ ]:
-- LAG(column, n): Look back at previous rows.
-- LEAD(column, n): Look ahead at next rows.

-- Example:
SELECT id, name, salary,
       LAG(salary, 1) OVER (ORDER BY id) AS prev_salary,
       LEAD(salary, 1) OVER (ORDER BY id) AS next_salary
FROM employees;


<div style="
    color: black;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 1%;
    font-size: 1em;
    border: 1px solid #3f37c9;
">
<p>Table Example</p>

<table border="1" cellpadding="5" cellspacing="0">
  <tr>
    <th>id</th>
    <th>name</th>
    <th>salary</th>
    <th>prev_salary</th>
    <th>next_salary</th>
  </tr>
  <tr>
    <td>1</td>
    <td>Ali</td>
    <td>4000</td>
    <td>NULL</td>
    <td>5000</td>
  </tr>
  <tr>
    <td>2</td>
    <td>Sara</td>
    <td>5000</td>
    <td>4000</td>
    <td>6000</td>
  </tr>
  <tr>
    <td>3</td>
    <td>John</td>
    <td>6000</td>
    <td>5000</td>
    <td>8000</td>
  </tr>
  <tr>
    <td>4</td>
    <td>Mary</td>
    <td>8000</td>
    <td>6000</td>
    <td>NULL</td>
  </tr>
</table>


</div>


<div style="
    color: black;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 1%;
    font-size: 1em;
    border: 1px solid #3f37c9;
">
<p>Window Functions:
</p>

<table border="1" cellpadding="5" cellspacing="0">
  <tr>
    <th>Function</th>
    <th>Purpose</th>
  </tr>
  <tr>
    <td><code>ROW_NUMBER()</code></td>
    <td>Sequential row numbering</td>
  </tr>
  <tr>
    <td><code>RANK()</code></td>
    <td>Ranking with gaps</td>
  </tr>
  <tr>
    <td><code>DENSE_RANK()</code></td>
    <td>Ranking without gaps</td>
  </tr>
  <tr>
    <td><code>NTILE(n)</code></td>
    <td>Divides rows into n buckets</td>
  </tr>
  <tr>
    <td><code>SUM(), AVG(), MIN(), MAX(), COUNT()</code></td>
    <td>Aggregates without collapsing rows</td>
  </tr>
  <tr>
    <td><code>LAG()</code></td>
    <td>Value from previous row</td>
  </tr>
  <tr>
    <td><code>LEAD()</code></td>
    <td>Value from next row</td>
  </tr>
  <tr>
    <td><code>FIRST_VALUE()</code></td>
    <td>First value in window</td>
  </tr>
  <tr>
    <td><code>LAST_VALUE()</code></td>
    <td>Last value in window</td>
  </tr>
</table>

</div>

## 24. INDEXES


<div style="
    color: black;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 1%;
    font-size: 1em;
    border: 1px solid #3f37c9;
">
<p>
  Indexes in PostgreSQL are data structures that speed up searching, filtering, 
  and joining by reducing the amount of data scanned. 
  Think of them like the index of a book ‚Äî instead of scanning all pages, 
  you jump straight to the right section.
</p>

</div>

### B-Tree Index


<div style="
    color: black;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 1%;
    font-size: 1em;
    border: 1px solid #3f37c9;
">

<ul>
  <li>Most common index in PostgreSQL.</li>
  <li>Works well for equality (=) and range queries (&lt;, &gt;, BETWEEN).</li>
  <li>Balanced tree structure ‚Üí log(n) lookup time.</li>
</ul>

</div>

In [ ]:
-- Example:

-- Create B-Tree index on salary column
CREATE INDEX idx_salary ON employees(salary);

-- Query uses the index
SELECT * FROM employees WHERE salary > 5000;

### Hash Index


<div style="
    color: black;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 1%;
    font-size: 1em;
    border: 1px solid #3f37c9;
">

<ul>
  <li>Optimized for equality lookups (=).</li>
  <li>Faster than B-Tree for equality, but not for ranges.</li>
  <li>Often used for exact match searches.</li>
</ul>

</div>

In [ ]:
-- Example:

-- Create a hash index on name column
CREATE INDEX idx_employee_name_hash ON employees USING HASH(name);

-- Query uses the hash index
SELECT * FROM employees WHERE name = 'Sara';

### GIN (Generalized Inverted Index)


<div style="
    color: black;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 1%;
    font-size: 1em;
    border: 1px solid #3f37c9;
">
<ul>
  <li>Best for full-text search and array/jsonb columns.</li>
  <li>Quickly finds rows where values exist inside complex data.</li>
</ul>

</div>

In [ ]:
-- Example:

-- Array column example
CREATE INDEX idx_tags_gin ON articles USING GIN(tags);

-- Query uses the GIN index
SELECT * FROM articles WHERE tags @> '{postgresql}';

### 4) GiST (Generalized Search Tree)


<div style="
    color: black;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 1%;
    font-size: 1em;
    border: 1px solid #3f37c9;
">
<ul>
  <li>Flexible index type.</li>
  <li>Used for geometric data, full-text search, and range types.</li>
  <li>Example: spatial queries, searching inside a range.</li>
</ul>

</div>

In [ ]:
-- Example:

-- For geometric data (points)
CREATE INDEX idx_location_gist ON places USING GIST(location);

-- For range queries
CREATE INDEX idx_date_range_gist ON reservations USING GIST(daterange);


<div style="
    color: black;
    background-color: #d9d9d9;
    border-radius: 10px;
    padding: 1%;
    font-size: 1em;
    border: 1px solid #3f37c9;
">
<p><b>Summary:</b></p>
<ul>
  <li>Use B-Tree for most queries.</li>
  <li>Use Hash for exact lookups only.</li>
  <li>Use GIN for text search, arrays, JSONB.</li>
  <li>Use GiST for ranges, geometric, custom search.</li>
</ul>


</div>