<div style="
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: #AF0404;
    padding: 1%;
    border-radius: 10px;
    font-size: 2em;
    text-align: center;
">
DVD RENTAL DB PRACTICE
</div>


<div style="
    color: black;
    background-color: #f0f0f0ff;
    border-radius: 10px;
    padding: 1%;
    font-size: 1em;
    border: 1px solid #3f37c9;
">
    üìç <b>NOTE</b>: This notebook is intended to:
    <ul>
        <li>Provide solutions to the practice questions of dvdrental database.</li>
    </ul>
</div>


<div style="
    color: black;
    background-color: #f0f0f0ff;
    border-radius: 10px;
    padding: 1%;
    font-size: 1em;
    border: 1px solid #3f37c9;
">
    <li> To setup dvdrental database see setup guide in the setup folder!</li>
</div>

In [ ]:
-- 1. List all customers.
SELECT * FROM customers;

In [ ]:
-- 2. Show first and last names of all actors.
SELECT first_name, last_name
FROM actor;

In [ ]:
-- 3. Display all films with their rental rates.
SELECT title,rental_rate
FROM film;

In [ ]:
-- 4. Find all active customers.
SELECT first_name, last_name,active
FROM customer
WHERE active = 1;

In [ ]:
-- 4. Find all active customers.
SELECT first_name, email
FROM customer;

In [ ]:
-- 5. Show the email addresses of all customers.
SELECT first_name, email
FROM customer;

In [ ]:
-- 6. List all films with a rating of ‚ÄòPG‚Äô.
SELECT title,rating
FROM film
WHERE rating = 'PG';

In [ ]:
-- 7. Find all categories.
SELECT name
FROM category;

In [ ]:
-- 8. Show the names of all staff members.
SELECT name
FROM staff;

In [ ]:
-- 9. Display all stores.
SELECT * 
FROM store;

In [ ]:
-- 10. Find all films longer than 100 minutes.
SELECT title,length
FROM film
WHERE length > 100;

In [ ]:
-- 11. Display all rentals made on ‚Äò2005-05-24‚Äô.
SELECT * 
FROM rental 
WHERE DATE(rental_date) = '2005-05-24';

In [ ]:
-- 12. List all distinct rental durations from films.
SELECT DISTINCT rental_duration
FROM film;

In [ ]:
-- 13. Show all films that have a replacement cost greater than 20.
SELECT title,replacement_cost
FROM film
WHERE replacement_cost > 20;

In [ ]:
-- 14. Display first 10 rows from the film table.
SELECT *
FROM film
LIMIT 10;

In [ ]:
-- 15. List all customers whose last name starts with ‚ÄòS‚Äô.
SELECT first_name, last_name
FROM customer
WHERE last_name LIKE 'S%';

In [ ]:
-- 16. Show all films released after 2005.
SELECT title,release_year
FROM film
WHERE release_year > 2005;

In [ ]:
-- 17. List all cities in the ‚ÄòUSA‚Äô.
SELECT city
FROM city
WHERE country_id = (
	SELECT country_id
	FROM country
	WHERE country = 'United States');

In [ ]:
-- 18. Find all addresses without a postal code.
SELECT *
FROM address
WHERE postal_code = '' OR postal_code IS NULL;

In [ ]:
-- 19. Show all categories sorted alphabetically.
SELECT *
FROM category
ORDER BY name;

In [ ]:
-- 20. Display all staff usernames.
SELECT username
FROM staff;

In [ ]:
-- 21. Find customers from the city ‚ÄòLondon‚Äô.
SELECT c.first_name, c.last_name
FROM customer c
JOIN address a ON c.address_id = a.address_id
JOIN city ct ON a.city_id = ct.city_id
WHERE ct.city = 'London';

In [ ]:
-- 22. List films with rental rates between 2 and 5.
SELECT title,rental_rate
FROM film
WHERE rental_rate BETWEEN 2 AND 5;

In [ ]:
-- 23. Find all films with the title containing ‚ÄòLove‚Äô.
SELECT title
FROM film
WHERE title ILIKE '%Love%';

In [ ]:
-- 24. Show all rentals where the return date is NULL.
SELECT *
FROM rental
WHERE return_date IS NULL;

In [ ]:
-- 25. Find all payments greater than 5.    
SELECT *
FROM payment
WHERE amount > 5;

In [ ]:
-- 26. List all customers created in 2006.
SELECT customer_id, first_name, last_name, create_date
FROM customer
WHERE DATE_PART('year', create_date) = 2006;

In [ ]:
-- 27. Show all addresses in district ‚ÄòTexas‚Äô.
SELECT *
FROM address
WHERE district = 'Texas';

In [ ]:
-- 28. List all staff members with active = true.
SELECT *
FROM staff
WHERE active = true;

In [ ]:
-- 29. Show all films with special features including ‚ÄòDeleted Scenes‚Äô.
SELECT title, special_features
FROM film
WHERE special_features @> ARRAY['Deleted Scenes'];

In [ ]:
-- 30. Display all categories except ‚ÄòHorror‚Äô.
SELECT *
FROM category
WHERE name NOT IN ('Horror');

In [ ]:
-- 31. List all customers whose first name has 4 letters.
SELECT first_name, last_name
FROM customer
WHERE LENGTH(first_name) = 4;

In [ ]:
-- 32. Find all films with rating in (‚ÄòPG‚Äô, ‚ÄòR‚Äô).
SELECT title, rating
FROM film
WHERE rating IN ('PG', 'R');

In [ ]:
-- 33. Show all customers whose last name ends with ‚Äòson‚Äô.
SELECT first_name, last_name
FROM customer
WHERE last_name ILIKE '%son' ;

In [ ]:
-- 34. Display all payments made on weekends.
SELECT *, TO_CHAR(payment_date, 'Day') AS day_name
FROM payment
WHERE EXTRACT(DOW FROM payment_date) IN (0, 6);

In [ ]:
-- 35. List all rentals that occurred in the month of May.
SELECT *
FROM payment
WHERE EXTRACT(Month FROM payment_date) = 05;

In [ ]:
-- 36. Show all films not rented yet.
SELECT f.film_id, f.title
FROM film f
WHERE f.film_id NOT IN (
    SELECT i.film_id
    FROM inventory i
    JOIN rental r ON i.inventory_id = r.inventory_id
);

In [ ]:
-- 37. Find customers who do not have an email.
SELECT customer_id, first_name, last_name
FROM customer   
WHERE email IS NULL OR email = '';

In [ ]:
-- 38. List all inventory items in store 1.
SELECT *
FROM inventory
WHERE store_id = 1;

In [ ]:
-- 39. Display all cities not in the USA.
SELECT city
FROM city
WHERE country_id NOT IN (
	SELECT country_id
	FROM country
	WHERE country = 'United States');

In [ ]:
-- 40. Show all films released in or after 2004 but before 2007.
SELECT title,release_year
FROM film
WHERE release_year BETWEEN 2004 AND 2006;