<div style="
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: #AF0404;
    padding: 1%;
    border-radius: 10px;
    font-size: 2em;
    text-align: center;
">
DVD RENTAL DB PRACTICE
</div>


<div style="
    color: black;
    background-color: #f0f0f0ff;
    border-radius: 10px;
    padding: 1%;
    font-size: 1em;
    border: 1px solid #3f37c9;
">
    üìç <b>NOTE</b>: This notebook is intended to:
    <ul>
        <li>Provide solutions to the practice questions of dvdrental database.</li>
    </ul>
</div>


<div style="
    color: black;
    background-color: #f0f0f0ff;
    border-radius: 10px;
    padding: 1%;
    font-size: 1em;
    border: 1px solid #3f37c9;
">
    <li> To setup dvdrental database see setup guide in the setup folder!</li>
</div>

## 1. Basic SELECT Queries

In [ ]:
-- 1. List all customers.
SELECT * FROM customers;

In [ ]:
-- 2. Show first and last names of all actors.
SELECT first_name, last_name
FROM actor;

In [ ]:
-- 3. Display all films with their rental rates.
SELECT title,rental_rate
FROM film;

In [ ]:
-- 4. Find all active customers.
SELECT first_name, last_name,active
FROM customer
where active = 1;

In [ ]:
-- 4. Find all active customers.
SELECT first_name, email
FROM customer;

In [ ]:
-- 5. Show the email addresses of all customers.
SELECT first_name, email
FROM customer;

In [ ]:
-- 6. List all films with a rating of ‚ÄòPG‚Äô.
SELECT title,rating
FROM film
WHERE rating = 'PG';

In [ ]:
-- 7. Find all categories.
SELECT name
FROM category;

In [ ]:
-- 8. Show the names of all staff members.
SELECT name
FROM staff;