<div style="
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: #AF0404;
    padding: 1%;
    border-radius: 10px;
    font-size: 2em;
    text-align: center;
">
DVD RENTAL DB PRACTICE
</div>


<div style="
    color: black;
    background-color: #f0f0f0ff;
    border-radius: 10px;
    padding: 1%;
    font-size: 1em;
    border: 1px solid #3f37c9;
">
    üìç <b>NOTE</b>: This notebook is intended to:
    <ul>
        <li>Provide solutions to the practice questions of dvdrental database.</li>
    </ul>
</div>


<div style="
    color: black;
    background-color: #f0f0f0ff;
    border-radius: 10px;
    padding: 1%;
    font-size: 1em;
    border: 1px solid #3f37c9;
">
    <li> To setup dvdrental database see setup guide in the setup folder!</li>
</div>

In [ ]:
-- 1. List all customers.
SELECT * FROM customers;

In [ ]:
-- 2. Show first and last names of all actors.
SELECT first_name, last_name
FROM actor;

In [ ]:
-- 3. Display all films with their rental rates.
SELECT title,rental_rate
FROM film;

In [ ]:
-- 4. Find all active customers.
SELECT first_name, last_name,active
FROM customer
WHERE active = 1;

In [ ]:
-- 4. Find all active customers.
SELECT first_name, email
FROM customer;

In [ ]:
-- 5. Show the email addresses of all customers.
SELECT first_name, email
FROM customer;

In [ ]:
-- 6. List all films with a rating of ‚ÄòPG‚Äô.
SELECT title,rating
FROM film
WHERE rating = 'PG';

In [ ]:
-- 7. Find all categories.
SELECT name
FROM category;

In [ ]:
-- 8. Show the names of all staff members.
SELECT name
FROM staff;

In [ ]:
-- 9. Display all stores.
SELECT * 
FROM store;

In [ ]:
-- 10. Find all films longer than 100 minutes.
SELECT title,length
FROM film
WHERE length > 100;

In [ ]:
-- 11. Display all rentals made on ‚Äò2005-05-24‚Äô.
SELECT * 
FROM rental 
WHERE DATE(rental_date) = '2005-05-24';

In [ ]:
-- 12. List all distinct rental durations from films.
SELECT DISTINCT rental_duration
FROM film;

In [ ]:
-- 13. Show all films that have a replacement cost greater than 20.
SELECT title,replacement_cost
FROM film
WHERE replacement_cost > 20;

In [ ]:
-- 14. Display first 10 rows from the film table.
SELECT *
FROM film
LIMIT 10;

In [ ]:
-- 15. List all customers whose last name starts with ‚ÄòS‚Äô.
SELECT first_name, last_name
FROM customer
WHERE last_name LIKE 'S%';

In [ ]:
-- 16. Show all films released after 2005.
SELECT title,release_year
FROM film
WHERE release_year > 2005;

In [ ]:
-- 17. List all cities in the ‚ÄòUSA‚Äô.
SELECT city
FROM city
WHERE country_id = (
	SELECT country_id
	FROM country
	WHERE country = 'United States');

In [ ]:
-- 18. Find all addresses without a postal code.
SELECT *
FROM address
WHERE postal_code = '' OR postal_code IS NULL;

In [ ]:
-- 19. Show all categories sorted alphabetically.
SELECT *
FROM category
ORDER BY name;

In [ ]:
-- 20. Display all staff usernames.
SELECT username
FROM staff;

In [ ]:
-- 21. Find customers from the city ‚ÄòLondon‚Äô.
SELECT c.first_name, c.last_name
FROM customer c
JOIN address a ON c.address_id = a.address_id
JOIN city ct ON a.city_id = ct.city_id
WHERE ct.city = 'London';

In [ ]:
-- 22. List films with rental rates between 2 and 5.
SELECT title,rental_rate
FROM film
WHERE rental_rate BETWEEN 2 AND 5;

In [ ]:
-- 23. Find all films with the title containing ‚ÄòLove‚Äô.
SELECT title
FROM film
WHERE title ILIKE '%Love%';

In [ ]:
-- 24. Show all rentals where the return date is NULL.
SELECT *
FROM rental
WHERE return_date IS NULL;

In [ ]:
-- 25. Find all payments greater than 5.    
SELECT *
FROM payment
WHERE amount > 5;

In [ ]:
-- 26. List all customers created in 2006.
SELECT customer_id, first_name, last_name, create_date
FROM customer
WHERE DATE_PART('year', create_date) = 2006;

In [ ]:
-- 27. Show all addresses in district ‚ÄòTexas‚Äô.
SELECT *
FROM address
WHERE district = 'Texas';

In [ ]:
-- 28. List all staff members with active = true.
SELECT *
FROM staff
WHERE active = true;

In [ ]:
-- 29. Show all films with special features including ‚ÄòDeleted Scenes‚Äô.
SELECT title, special_features
FROM film
WHERE special_features @> ARRAY['Deleted Scenes'];

In [ ]:
-- 30. Display all categories except ‚ÄòHorror‚Äô.
SELECT *
FROM category
WHERE name NOT IN ('Horror');

In [ ]:
-- 31. List all customers whose first name has 4 letters.
SELECT first_name, last_name
FROM customer
WHERE LENGTH(first_name) = 4;

In [ ]:
-- 32. Find all films with rating in (‚ÄòPG‚Äô, ‚ÄòR‚Äô).
SELECT title, rating
FROM film
WHERE rating IN ('PG', 'R');

In [ ]:
-- 33. Show all customers whose last name ends with ‚Äòson‚Äô.
SELECT first_name, last_name
FROM customer
WHERE last_name ILIKE '%son' ;

In [ ]:
-- 34. Display all payments made on weekends.
SELECT *, TO_CHAR(payment_date, 'Day') AS day_name
FROM payment
WHERE EXTRACT(DOW FROM payment_date) IN (0, 6);

In [ ]:
-- 35. List all rentals that occurred in the month of May.
SELECT *
FROM payment
WHERE EXTRACT(Month FROM payment_date) = 05;

In [ ]:
-- 36. Show all films not rented yet.
SELECT f.film_id, f.title
FROM film f
WHERE f.film_id NOT IN (
    SELECT i.film_id
    FROM inventory i
    JOIN rental r ON i.inventory_id = r.inventory_id
);

In [ ]:
-- 37. Find customers who do not have an email.
SELECT customer_id, first_name, last_name
FROM customer   
WHERE email IS NULL OR email = '';

In [ ]:
-- 38. List all inventory items in store 1.
SELECT *
FROM inventory
WHERE store_id = 1;

In [ ]:
-- 39. Display all cities not in the USA.
SELECT city
FROM city
WHERE country_id NOT IN (
	SELECT country_id
	FROM country
	WHERE country = 'United States');

In [ ]:
-- 40. Show all films released in or after 2004 but before 2007.
SELECT title,release_year
FROM film
WHERE release_year BETWEEN 2004 AND 2006;

In [ ]:
-- 41. Show the top 10 most expensive films.
SELECT film_id, title, rental_rate
FROM film
ORDER BY rental_rate DESC
LIMIT 10;

In [ ]:
-- 42. List the 5 earliest rentals.
SELECT rental_id, rental_date, inventory_id, customer_id
FROM rental
ORDER BY rental_date ASC
LIMIT 5;

In [ ]:
-- 43. Display the 10 latest payment transactions.
SELECT payment_id, customer_id, amount, payment_date
FROM payment
ORDER BY payment_date DESC
LIMIT 10;

In [ ]:
-- 44. List customers sorted by last name in descending order.
SELECT customer_id, first_name, last_name
FROM customer
ORDER BY last_name DESC;

In [ ]:
-- 45. Show 20 films with the shortest length.
SELECT film_id, title, length
FROM film
ORDER BY length ASC
LIMIT 20;

In [ ]:
-- 46. Display top 10 customers by first name alphabetically.
SELECT customer_id, first_name, last_name
FROM customer
ORDER BY first_name ASC
LIMIT 10;

In [ ]:
-- 47. Show the 5 most recent added cities.
SELECT city_id, city, country_id
FROM city
ORDER BY city_id DESC
LIMIT 5;

In [ ]:
-- 48. Display the highest rental\_rate films first.
SELECT film_id, title, rental_rate
FROM film
ORDER BY rental_rate DESC;

In [ ]:
-- 49. Show the oldest 3 staff members by create\_date.
SELECT staff_id, first_name, last_name, create_date
FROM staff
ORDER BY create_date ASC
LIMIT 3;

In [ ]:
-- 50. List 15 random films.
SELECT film_id, title
FROM film
ORDER BY RANDOM()
LIMIT 15;

In [ ]:
-- 51. Show films and their language names.
SELECT f.title, l.name
FROM film f
JOIN language l ON f.language_id = l.language_id;

In [ ]:
-- 52. List customers with their city names.
SELECT cu.first_name, ci.city
FROM customer cu
JOIN address ad ON cu.address_id = ad.address_id
JOIN city ci ON ad.city_id = ci.city_id;

In [ ]:
-- 53. Show rentals with the corresponding film title.
SELECT f.title, re.rental_id 
FROM film f
JOIN inventory inv ON f.film_id = inv.film_id
JOIN rental re ON inv.inventory_id = re.inventory_id;

In [ ]:
-- 54. Display all rentals with customer names and staff names.
SELECT re.rental_id, cu.first_name AS customer_name, st.first_name AS staff_name
FROM rental re
JOIN customer cu ON re.customer_id = cu.customer_id
JOIN staff st ON re.staff_id = st.staff_id;

In [ ]:
-- 55. List all films with their category name.
SELECT f.title, c.name AS category_name
FROM film f
JOIN film_category fc ON f.film_id = fc.film_id
JOIN category c ON fc.category_id = c.category_id;

In [ ]:
-- 56. Show the category for each film.
SELECT f.title, c.name AS category
FROM film f
JOIN film_category fc ON f.film_id = fc.film_id
JOIN category c ON fc.category_id = c.category_id;

In [ ]:
-- 57. Display the address of each store.
SELECT s.store_id, a.address
FROM store s
JOIN address a ON s.address_id = a.address_id;

In [ ]:
-- 58. List all rentals including film title and rental date.
SELECT r.rental_id, f.title, r.rental_date
FROM rental r
JOIN inventory i ON r.inventory_id = i.inventory_id
JOIN film f ON i.film_id = f.film_id;

In [ ]:
-- 59. Find all payments with corresponding rental date.
SELECT p.payment_id, p.amount, r.rental_date
FROM payment p
JOIN rental r ON p.rental_id = r.rental_id;

In [ ]:
-- 60. Show all rentals with customer and store names.
SELECT r.rental_id, 
       c.first_name || ' ' || c.last_name AS customer_name,
       s.store_id
FROM rental r
JOIN customer c ON r.customer_id = c.customer_id
JOIN staff st ON r.staff_id = st.staff_id
JOIN store s ON st.store_id = s.store_id;

In [ ]:
-- 61. List all inventory items with their film title and store.
SELECT i.inventory_id, f.title, s.store_id
FROM inventory i
JOIN film f ON i.film_id = f.film_id
JOIN store s ON i.store_id = s.store_id;

In [ ]:

-- 62. Display all customers with their store manager names.
SELECT c.first_name AS customer_first, c.last_name AS customer_last,
       m.first_name AS manager_first, m.last_name AS manager_last
FROM customer c
JOIN store s ON c.store_id = s.store_id
JOIN staff m ON s.manager_staff_id = m.staff_id;

In [ ]:
-- 63. Show all actors with the films they acted in.
SELECT a.first_name, a.last_name, f.title
FROM actor a
JOIN film_actor fa ON a.actor_id = fa.actor_id
JOIN film f ON fa.film_id = f.film_id;

In [ ]:
-- 64. List all payments with customer and staff names.
SELECT p.payment_id, p.amount,
       c.first_name AS customer_first, c.last_name AS customer_last,
       s.first_name AS staff_first, s.last_name AS staff_last
FROM payment p
JOIN customer c ON p.customer_id = c.customer_id
JOIN staff s ON p.staff_id = s.staff_id;

In [ ]:
-- 65. Display each store with its city and country.
SELECT s.store_id, ci.city, co.country
FROM store s
JOIN address a ON s.address_id = a.address_id
JOIN city ci ON a.city_id = ci.city_id
JOIN country co ON ci.country_id = co.country_id;

In [ ]:
-- 66. Show all staff with their city and country.
SELECT st.first_name, st.last_name, ci.city, co.country
FROM staff st
JOIN address a ON st.address_id = a.address_id
JOIN city ci ON a.city_id = ci.city_id
JOIN country co ON ci.country_id = co.country_id;

In [ ]:
-- 67. List all rentals with film category.
SELECT r.rental_id, f.title, c.name AS category
FROM rental r
JOIN inventory i ON r.inventory_id = i.inventory_id
JOIN film f ON i.film_id = f.film_id
JOIN film_category fc ON f.film_id = fc.film_id
JOIN category c ON fc.category_id = c.category_id;

In [ ]:
-- 68. Display films and all actors in those films.
SELECT f.title, a.first_name, a.last_name
FROM film f
JOIN film_actor fa ON f.film_id = fa.film_id
JOIN actor a ON fa.actor_id = a.actor_id;

In [ ]:
-- 69. Show all films along with their replacement cost and category.
SELECT f.title, f.replacement_cost, c.name AS category
FROM film f
JOIN film_category fc ON f.film_id = fc.film_id
JOIN category c ON fc.category_id = c.category_id;

In [ ]:

-- 70. Find all rentals where payment was done by staff ‚ÄòMike‚Äô.
SELECT DISTINCT r.rental_id, f.title
FROM rental r
JOIN payment p ON r.rental_id = p.rental_id
JOIN staff s ON p.staff_id = s.staff_id
JOIN inventory i ON r.inventory_id = i.inventory_id
JOIN film f ON i.film_id = f.film_id
WHERE s.first_name = 'Mike';

In [ ]:
-- 71. Show films with no category assigned.
SELECT f.title
FROM film f
LEFT JOIN film_category fc ON f.film_id = fc.film_id
WHERE fc.category_id IS NULL;

In [ ]:
-- 72. List all categories with the count of films in each.
SELECT c.name, COUNT(fc.film_id) AS film_count
FROM category c
LEFT JOIN film_category fc ON c.category_id = fc.category_id
GROUP BY c.name;

In [ ]:
-- 73. Show all rentals with the store address.
SELECT r.rental_id, a.address
FROM rental r
JOIN staff st ON r.staff_id = st.staff_id
JOIN store s ON st.store_id = s.store_id
JOIN address a ON s.address_id = a.address_id;

In [ ]:
-- 74. Display all films with rental info and payment amount.
SELECT f.title, r.rental_date, p.amount
FROM film f
JOIN inventory i ON f.film_id = i.film_id
JOIN rental r ON i.inventory_id = r.inventory_id
JOIN payment p ON r.rental_id = p.rental_id;

In [ ]:
-- 75. List customers who have never made a rental.
SELECT c.first_name, c.last_name
FROM customer c
LEFT JOIN rental r ON c.customer_id = r.customer_id
WHERE r.rental_id IS NULL;

In [ ]:
-- 76. Show all inventory items that have never been rented.
SELECT i.inventory_id, f.title
FROM inventory i
JOIN film f ON i.film_id = f.film_id
LEFT JOIN rental r ON i.inventory_id = r.inventory_id
WHERE r.rental_id IS NULL;

In [ ]:
-- 77. Display the last rental of each customer.
SELECT c.customer_id, c.first_name, c.last_name, MAX(r.rental_date) AS last_rental
FROM customer c
JOIN rental r ON c.customer_id = r.customer_id
GROUP BY c.customer_id, c.first_name, c.last_name;

In [ ]:
-- 78. Show all customers and total payments they have made.
SELECT c.first_name, c.last_name, SUM(p.amount) AS total_payments
FROM customer c
JOIN payment p ON c.customer_id = p.customer_id
GROUP BY c.first_name, c.last_name;

In [ ]:
-- 79. List films with more than one category.
SELECT f.title, COUNT(fc.category_id) AS category_count
FROM film f
JOIN film_category fc ON f.film_id = fc.film_id
GROUP BY f.title
HAVING COUNT(fc.category_id) > 1;

In [ ]:
-- 80. Show films that have never been rented.
SELECT f.title
FROM film f
LEFT JOIN inventory i ON f.film_id = i.film_id
LEFT JOIN rental r ON i.inventory_id = r.inventory_id
WHERE r.rental_id IS NULL;

In [ ]:
-- 81. Count total number of films.
SELECT COUNT(*) AS total_films
FROM film;

In [ ]:
-- 82. Count total number of rentals.
SELECT COUNT(*) AS total_rentals
FROM rental;

In [ ]:
-- 83. Count total payments made.
SELECT COUNT(*) AS total_payments
FROM payment;

In [ ]:
-- 84. Find the maximum rental rate.
SELECT MAX(rental_rate) AS max_rental_rate
FROM film;

In [ ]:
-- 85. Find the minimum replacement cost.
SELECT MIN(replacement_cost) AS min_replacement_cost
FROM film;

In [ ]:
-- 86. Calculate the average payment amount.
SELECT AVG(amount) AS avg_payment_amount
FROM payment;

In [ ]:
-- 87. Count number of active customers.
SELECT COUNT(*) AS active_customers
FROM customer
WHERE active = 1;

In [ ]:
-- 88. Find the total number of cities per country.
SELECT country_id, COUNT(city_id) AS total_cities
FROM city
GROUP BY country_id;

In [ ]:
-- 89. Count films per language.
SELECT l.name AS language, COUNT(f.film_id) AS total_films
FROM film f
JOIN language l ON f.language_id = l.language_id
GROUP BY l.name;

In [ ]:
-- 90. Find the number of films per rating.
SELECT rating, COUNT(*) AS total_films
FROM film
GROUP BY rating;

In [ ]:
-- 91. Count the number of rentals per customer.
SELECT customer_id, COUNT(rental_id) AS total_rentals
FROM rental
GROUP BY customer_id;

In [ ]:
-- 92. Calculate total revenue per customer.
SELECT customer_id, SUM(amount) AS total_revenue
FROM payment
GROUP BY customer_id;

In [ ]:
-- 93. Show number of films per category.
SELECT c.name AS category, COUNT(fc.film_id) AS total_films
FROM category c
JOIN film_category fc ON c.category_id = fc.category_id
GROUP BY c.name;

In [ ]:
-- 94. Calculate the total revenue of each store.
SELECT i.store_id, SUM(p.amount) AS total_revenue
FROM payment p
JOIN rental r ON p.rental_id = r.rental_id
JOIN inventory i ON r.inventory_id = i.inventory_id
GROUP BY i.store_id;

In [ ]:
-- 95. Find the most expensive film per category.
SELECT c.name AS category, MAX(f.rental_rate) AS max_rental_rate
FROM category c
JOIN film_category fc ON c.category_id = fc.category_id
JOIN film f ON fc.film_id = f.film_id
GROUP BY c.name;

In [ ]:
-- 96. Show the minimum payment made by any customer.
SELECT MIN(amount) AS min_payment
FROM payment;

In [ ]:
-- 97. Count the number of films per actor.
SELECT a.actor_id, a.first_name, a.last_name, COUNT(fa.film_id) AS total_films
FROM actor a
JOIN film_actor fa ON a.actor_id = fa.actor_id
GROUP BY a.actor_id, a.first_name, a.last_name;

In [ ]:
-- 98. Find the total inventory per store.
SELECT store_id, COUNT(inventory_id) AS total_inventory
FROM inventory
GROUP BY store_id;

In [ ]:
-- 99. Calculate the sum of all payments in June 2005.
SELECT SUM(amount) AS total_payments_june_2005
FROM payment
WHERE DATE_PART('year', payment_date) = 2005
  AND DATE_PART('month', payment_date) = 6;

In [ ]:
-- 100. Count the number of rentals made per staff member.
SELECT staff_id, COUNT(rental_id) AS total_rentals
FROM rental
GROUP BY staff_id;